<%= form_for @question do |f| %>
    <%= render partial: 'shared/errors_list', locals: { entity: @question } %>

    <% if visitor_is_administrator? && !@question.id %>
        <div>
          <%= hidden_field_tag :owner_type, current_user.class.to_s %>
          <%= label_tag :owner_id, t('activerecord.attributes.question.owner_id') %>
          <%= select_tag :owner_id, options_for_select(owners_for_select(current_user)) %>
        </div>
    <% end %>
    <div>
      <div><%= f.label :body %></div>
      <%= f.text_area :body, cols: 80, rows: 10, required: true %>
    </div>
    <p class="notice"><%= t('.max_length') %></p>

    <div>
      <%= f.button t(:submit), type: :submit %>
    </div>
<% end %>