<%= form_for entity do |f| %>
    <%= render partial: 'shared/errors_list', locals: { entity: entity } %>

    <% if current_user_has_role?(:administrator) && !entity.id %>
        <div>
          <%= label_tag :user_id, t('activerecord.attributes.question.user_id') %>
          select_tag :user_id, options_for_select(owners_for_select(current_user))
        </div>
    <% end %>
    <div>
      <div><%= f.label :body %></div>
      <%= f.text_area :body, cols: 80, rows: 10, required: true %>
    </div>
    <p class="notice"><%= t('.max_length') %></p>

    <% if entity.id %>
        <div>
          <%= f.check_box :answered %>
          <%= f.label :answered %>
        </div>
    <% end %>
    
    <div>
      <%= f.button t(:submit), type: :submit %>
    </div>
<% end %>