<div class="header">
  <div class="title"><%= link_to 'Вопрос', entity %></div>
  <span class="author"><%= user_link entity.user %></span>
  <%= render partial: 'shared/publication_time', locals: { time: entity.created_at } %>
</div>
<div class="body">
  <%= glimpse prepare_question_text(entity, current_user) %>
</div>
<div class="footer">
  <%= link_to t(:answer, count: entity.comments.count), entity %>
</div>
