<section class="question preview" itemscope itemtype="http://schema.org/Question">
  <h1><%= link_to t('.question', id: question.id), question %></h1>
  <div class="body" itemprop="text">
    <%= raw prepare_question_text(question, current_user) %>
  </div>
  <div class="footer">
    <meta itemprop="answerCount" content="<%= question.comments_count %>" />
    <%= render partial: 'shared/author_and_time', locals: { author: question.user, time: question.created_at } %>
    <div class="count"><%= link_to t(:answer, count: question.comments_count), question %></div>
  </div>
  <%= render partial: 'shared/track_data', locals: { item: question } %>
</section>
