<article class="question" itemscope itemtype="http://schema.org/Question">
  <h1><%= t('.title', id: question.id) %></h1>
  <div class="body" itemprop="text">
    <%= raw prepare_question_text(question, current_user) %>
  </div>
  <div class="footer">
    <meta itemprop="answerCount" content="<%= question.comments_count %>" />
    <%= render partial: 'controls', locals: { question: question } %>
    <div class="avatar"><%= comment_avatar(question.user) %></div>
    <%= render partial: 'shared/author', locals: { user: question.user } %>
    <%= render partial: 'shared/publication_time', locals: { time: question.created_at } %>
  </div>
  <%= render partial: 'shared/track_data', locals: { item: question } %>

  <%= render 'shared/social' %>

  <%= render partial: 'answers', locals: { question: question } %>
</article>