<% content_for :meta_title, t('.title') %>
<% content_for :sidebar do %>
    <div class="options">
      <ul>
        <li><%= link_to t(:view), @entity %></li>
        <li><%= link_to t(:list), questions_path %></li>
        <li><%= link_to t(:delete), @entity, method: :delete, data: { confirm: t(:are_you_sure) } %></li>
      </ul>
    </div>
<% end %>

<article class="question">
  <h1><%= t('.title') %></h1>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
