<% content_for :meta_title, t('.title') %>

<nav class="options">
  <ul>
    <li><%= link_to t(:view), @question %></li>
    <li><%= link_to t(:list), questions_path %></li>
    <li><%= link_to t(:delete), @question, method: :delete, data: { confirm: t(:are_you_sure) } %></li>
  </ul>
</nav>

<article>
  <h1><%= t('.title') %></h1>

  <%= render 'form' %>
</article>