<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :meta_description, t('.description', page: current_page) %>
<% content_for :sidebar do %>
    <div>
      <nav class="options">
        <ul>
          <li><%= link_to t(:create), new_question_path %></li>
        </ul>
      </nav>
    </div>
<% end %>
<%= render 'shared/metrics' %>

<article class="questions">
  <h1><%= t('.header') %></h1>

  <%= paginate @collection %>
  <%= render partial: 'list', locals: { questions: @collection } %>
  <%= paginate @collection %>
</article>
