<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :meta_description, t('.description', page: current_page) %>
<% content_for :sidebar do %>
    <%= render 'sidebar/donate' %>
<% end %>
<%= render 'shared/metrics' %>

<article>
  <h1><%= t('.header') %></h1>

  <h2><%= t(:page, page: current_page) %></h2>

  <nav class="options">
    <ul>
      <li><%= link_to t(:create), new_question_path %></li>
    </ul>
  </nav>

  <% if @questions.any? %>
      <%= render @questions, locals: { show_links: true } %>

      <%= paginate @questions %>
  <% else %>
      <%= render 'shared/nothing_found' %>
  <% end %>
</article>