<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :meta_description, t('.description', page: current_page) %>
<% content_for :sidebar do %>
    <div class="options">
      <ul>
        <li><%= link_to t('questions.new.title'), new_question_path %></li>
      </ul>
    </div>
<% end %>

<article class="questions">
  <h1><%= t('.header') %></h1>

  <%= paginate @collection %>
  <%= render partial: 'list', locals: { questions: @collection } %>
  <%= paginate @collection %>
</article>
