<% content_for :meta_title, t('.title', id: @question.id) %>
<% content_for :meta_description, t('.description', owner: @question.user.screen_name) %>
<% content_for :sidebar do %>
    <%= render 'sidebar/donate' %>
<% end %>
<%= render 'shared/metrics' %>

<article>
  <h1><%= t('.title', id: @question.id) %></h1>
  <nav class="options">
    <ul>
      <li><%= link_to t(:create), new_question_path %></li>
      <li><%= link_to t(:list), questions_path %></li>
      <% if visitor_has_role? :moderator %>
      <li><%= link_to t(:edit), edit_question_path(@question) %></li>
      <% end %>
    </ul>
  </nav>

  <%= render @question, locals: { show_answers: true, share: true } %>
</article>