<% content_for :meta_title, t('.title', id: @entity.id) %>
<% content_for :meta_description, glimpse(prepare_question_text(@entity)) %>
<% content_for :meta_type, 'article' %>
<% content_for :meta_type_extension do %>
    <meta property="og:article:published_time" content="<%= @entity.created_at.strftime('%Y-%m-%d') %>"/>
    <meta property="og:article:modified_time" content="<%= @entity.updated_at.strftime('%Y-%m-%d') %>"/>
    <% unless @entity.user.nil? %>
        <meta property="og:article:author" content="<%= @entity.user.profile_name %>"/>
    <% end %>
<% end %>

<%= render partial: 'questions/adjacent', locals: { questions: @adjacent } %>

<article class="post" itemscope itemtype="http://schema.org/Question">
  <h1><%= t('.title', id: @entity.id) %></h1>
  <% if @entity.editable_by?(current_user) %>
      <ul class="actions">
        <li><%= edit_icon edit_question_path(@entity) %></li>
      </ul>
  <% end %>
  <div class="body" itemprop="text">
    <%= raw prepare_question_text(@entity) %>
  </div>
  <div class="footer">
    <div><%= user_link @entity.user %></div>
    <div><%= time_tag @entity.created_at %></div>
  </div>
  <meta itemprop="answerCount" content="<%= @entity.comments_count %>"/>
  <%= render partial: 'shared/track', locals: { item: @entity } %>

  <%= render partial: 'answers', locals: { question: @entity } %>
</article>