<div class="image">
  <%= profile_avatar(entity.user) %>
</div>
<div class="data">
  <div><%= admin_interpretation_link(entity) %></div>
  <div class="info">
    <%= time_tag(entity.created_at) %>,
    <%= t(:interpretation_message_count, count: entity.message_count) %>
  </div>
  <div class="secondary info">
    <%= admin_user_link(entity.user) %>
  </div>

  <%=
    render(
        partial: 'shared/admin/toggleable',
        locals:  {
            entity: entity,
            url:    toggle_admin_interpretation_path(id: entity.id)
        }
    )
  %>
</div>
