<article class="dream" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 itemprop="name" class="<%= dream.privacy %> <%= dream.lucid? ? 'lucid' : '' %>">
    <%= dream.title_for_view %>
  </h1>

  <meta itemprop="commentCount" content="<%= dream.comments_count %> "/>
  <meta itemprop="keywords" content="<%= dream.patterns_cache.join(', ') %> "/>

  <div class="body" itemprop="articleBody">
    <%= raw prepare_dream_text(dream, current_user) %>

    <% if dream.patterns_cache.any? %>
        <div class="tags">
          <span><%= t('dreams.form.grains') %>:</span>
          <% dream.patterns_cache.each do |tag_name| %>
              <%= link_to tag_name, tagged_dreams_path(tag_name: Canonizer.urlize(tag_name)), rel: 'tag' %>
          <% end %>
        </div>
    <% end %>
  </div>

  <div class="footer">
    <%= render partial: 'shared/author_and_time', locals: { item: dream } %>
  </div>
  <%= render partial: 'shared/track_data', locals: { item: dream } %>

  <%= render partial: 'comments/list', locals: { commentable: dream, comments: dream.comments } %>
</article>
