<article class="post <%= dream.privacy %>" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 itemprop="name"><%= dream.title || t(:untitled) %></h1>

  <meta itemprop="commentCount" content="<%= dream.comments_count %> "/>
  <meta itemprop="keywords" content="<%= dream.patterns.map { |tag| tag.name }.join(', ') %> "/>

  <% if dream.editable_by? current_user %>
      <ul class="actions">
        <li><%= edit_icon edit_dream_path(dream) %></li>
      </ul>
  <% end %>

  <div class="body" itemprop="articleBody">
    <%= raw prepare_dream_text dream, current_user %>
  </div>

  <div class="footer">
    <div class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name"><%= user_link dream.user %></span>
    </div>
    <div class="time">
      <%= time_tag dream.created_at, itemProp: 'datePublished' %>
    </div>
  </div>
  <% if dream.needs_interpretation && !dream.interpretation_given %>
      <div class="needs_interpretation"><%= t('activerecord.attributes.dream.needs_interpretation') %></div>
  <% end %>
  <%= render partial: 'shared/track', locals: { item: dream } %>

  <%= render partial: 'dreams/entity/details', locals: { dream: dream } %>
  <%= render partial: 'dreams/entity/patterns', locals: { dream: dream } %>

  <%= render partial: 'comments/list', locals: { comments: dream.comments.visible.order('id asc'), commentable: dream } %>
</article>
