<% if @dream.editable_by? current_user %>
    <nav class="options">
      <ul>
        <li><%= link_to t(:edit), edit_entry_dream_path(@dream) %></li>
        <li><%= link_to t(:delete), dream, method: :delete, data: { confirm: t(:are_you_sure) } %></li>
      </ul>
    </nav>
<% end %>

<article class="dream" itemscope itemtype="http://schema.org/Article">
  <header>
    <%= raw entry_avatar(dream.user) %>

    <div class="privacy privacy-<%= dream.privacy %>">&nbsp;</div>

    <h1 itemprop="name" class="<%= dream.lucid? ? 'lucid' : '' %>"><%= dream.parsed_title %></h1>

    <div class="author">
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><%= user_link dream.user %></span></span>,
      <time itemprop="datePublished" content="<%= dream.created_at.microformat_minutes %>" datetime="<%= dream.datetime %>"><%= dream.created_at.strftime('%d.%m.%Y, %H:%M') %></time>
      <span class="lucidity"><%= t('activerecord.attributes.entry.lucidity') + ': ' + dream.lucidity.to_s if dream.lucid? && dream.owned_by?(current_user) %></span>
    </div>

    <% tags, described_tags = dream.tags.order('canonical_name asc'), [] %>
    <% if tags.any? %>
        <nav class="tags">
          <h4><%= t('activerecord.attributes.entry.tags_string') %></h4>
          <ul>
            <% tags.each do |tag| %>
                <li><%= tagged_entries_path(tag) %></li>
                <% described_tags << tag unless tag.description.blank? %>
          <% end %>
          </ul>
        </nav>
    <% end %>
  </header>

  <meta itemprop="commentCount" content="<%= dream.comments_count %>"/>

  <div class="body" itemprop="articleBody">
    <%= raw parse_body(dream.body, false, dream.owned_by?(current_user)) %>
  </div>

  <% if described_tags.any? %>
      <% described_tags.sort! { |a, b| a.name <=> b.name } %>
      <aside>
        <input type="checkbox" id="described-tags-<%= dream.id %>" />
        <div>
          <label for="described-tags-<%= dream.id %>" title="<%= t('.described') %>">?</label>
          <ul aria-label="<%= t('.described') %>">
            <% described_tags.each do |tag| %>
                <li><%= link_to tag.name, dreambook_word_path(letter: tag.letter, word: tag.uri_name) %></li>
            <% end %>
          </ul>
        </div>
      </aside>
  <% end %>

  <section class="info">
    <%= render 'shared/social' if dream.shareable? %>
  </section>

  <%= render partial: 'comments/list', locals: { commentable: dream, comments: dream.comments } %>

</article>
