<%= form_for @entry do |f| %>
    <%= render partial: 'common/errors_list', locals: { entity: @entry } %>

    <div>
      <%= f.label :title %><br />
      <%= f.text_field :title, size: 75, maxlength: 255 %>
    </div>
    <div>
      <%= f.label :body %><br />
      <%= f.text_area :body, required: true, cols: 75, rows: 20 %>
    </div>
    <div>
      <%= f.label :tags_string %><br />
      <%= f.text_area :tags_string, cols: 75, rows: 5 %>
    </div>
    <div>
      <%= f.check_box :lucid %>
      <%= f.label :lucid %>
    </div>
    <% unless current_user.nil? || (!@entry.new_record? && @entry.user.nil?) %>
        <div>
          <%= f.label :privacy %>
          <%= f.select :privacy, Entry::Dream.privacy_modes.invert %>
        </div>
    <% end %>
    <div>
      <%= f.button t('.submit'), type: 'submit' %>
    </div>
<% end %>
