<% model_name = entity.class.to_s.underscore %>
<%=
  form_with(
      model: entity,
      html:  {
          id:   "#{model_name}-form",
          data: { check_url: check_dreams_path }
      }
  ) do |f|
%>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
    <dt><%= f.label :title %></dt>
    <dd>
      <%=
        f.text_field(
            :title,
            id:        "#{model_name}_title",
            size:      nil,
            maxlength: Dream::TITLE_LIMIT,
            data:      {
                check: :title
            }
        )
      %>
      <div class="check-result-error hidden" data-field="title"></div>
      <div class="guideline"><%= t('.guidelines.title') %></div>
    </dd>

    <dt><%= f.label :body %></dt>
    <dd>
      <%=
        f.text_area(
            :body,
            id:        "#{model_name}_body",
            cols:      80,
            rows:      20,
            maxlength: Dream::BODY_LIMIT,
            minlength: 20,
            required:  true,
            data:      {
                check:    :body,
                min_rows: 10,
                max_rows: 30
            }
        )
      %>
      <div class="check-result-error hidden" data-field="body"></div>
      <div class="guideline"><%= t('.guidelines.body') %></div>
    </dd>

    <% unless current_user.nil? %>
      <% if entity.id.nil? || entity.owned_by?(current_user) %>
        <dt><%= f.label :privacy %></dt>
        <dd>
          <ul>
            <% Dream.privacies.keys.reject { |i| i == 'for_interpreter' }.each do |privacy| %>
              <li>
                <% field_id = "dream_privacy_#{privacy}" %>
                <%=
                  radio_button_tag(
                      'dream[privacy]',
                      privacy,
                      entity.privacy == privacy,
                      id: field_id
                  )
                %>
                <%=
                  label_tag(
                      field_id,
                      t("activerecord.attributes.dream.privacies.#{privacy}")
                  )
                %>
              </li>
            <% end %>
          </ul>
        </dd>

        <dt><%= f.label :sleep_place_id %></dt>
        <dd>
          <% if SleepPlace.owned_by(current_user).any? %>
            <ul>
              <li>
                <%=
                  radio_button_tag(
                      'dream[sleep_place_id]',
                      '',
                      entity.sleep_place_id.nil?,
                      id: 'dream_sleep_place_0'
                  )
                %>
                <%= label_tag('dream_sleep_place_0', t(:not_selected)) %>
              </li>
              <% SleepPlace.list_for_owner(current_user).each do |sleep_place| %>
                <li>
                  <% element_id = "dream_sleep_place_#{sleep_place.id}" %>
                  <%=
                    radio_button_tag(
                        'dream[sleep_place_id]',
                        sleep_place.id,
                        entity.sleep_place_id == sleep_place.id,
                        id: element_id
                    )
                  %>
                  <%=
                    label_tag(
                        element_id,
                        "#{sleep_place.name} (#{t(:dream_count, count: sleep_place.dreams_count)})"
                    )
                  %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <div class="message-box-warning"><%= t('.no_sleep_places') %></div>
          <% end %>
        </dd>

        <dt><%= f.label :lucidity %></dt>
        <dd class="lucidity">
          ☁
          <% Dream::LUCIDITY_RANGE.each do |lucidity| %>
            <% element_id = "dream_lucidity_#{lucidity}" %>
            <%=
              radio_button_tag(
                  'dream[lucidity]',
                  lucidity,
                  entity.lucidity == lucidity,
                  id: element_id
              )
            %>
            <%= label_tag(element_id, lucidity) %>
          <% end %>
          ☼
        </dd>
      <% end %>
    <% end %>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= hidden_field_tag :entity_id, entity.id %>
    <%= f.button t(:save), type: :submit, class: 'button-save' %>
  </div>
<% end %>
