<%= render partial: 'shared/errors_list', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <div>
      <div><%= f.label :title %></div>
      <%= f.text_field :title, size: 50 %>
    </div>
    <div>
      <div><%= f.label :body %></div>
      <%= f.text_area :body, cols: 50, rows: 20, required: true %>
    </div>
    <div>
      <div><%= label_tag :grains_string, t('.grains') %></div>
      <%= text_area_tag :grains_string, entity.grains_string, cols: 50, rows: 3 %>
    </div>

    <% if current_user.is_a?(User) && entity.id.blank? || entity.owned_by?(current_user) %>
        <div>
          <%= f.label :privacy %>
          <%= f.select :privacy, dream_privacy_options %>
        </div>
        <div class="lucidity">
          <%= f.label :lucidity %>
          <% (0..5).each_entry do |lucidity| %>
              <%= f.radio_button :lucidity, lucidity %>
              <%= label_tag "dream_lucidity_#{lucidity}", lucidity %>
          <% end %>
        </div>
        <div class="mood">
          <%= f.label :mood %>
          <% (-2..2).each_entry do |mood| %>
              <%= f.radio_button :mood, mood %>
              <%= label_tag "dream_mood_#{mood}", mood %>
          <% end %>
        </div>
        <!--[:place_id, :azimuth, :body_position, :time_of_day, :show_image, :image]-->
    <% end %>

    <div>
      <%= f.check_box :needs_interpretation %>
      <%= f.label :needs_interpretation %>
    </div>

    <% if current_user_has_role? :administrator %>
        <div>
          <%= f.check_box :interpretation_given %>
          <%= f.label :interpretation_given %>
        </div>
    <% end %>

    <div>
      <%= f.button t(:submit), type: :submit %>
    </div>
<% end %>
