<%= form_for @dream do |f| %>
    <%= render partial: 'shared/errors_list', locals: { entity: @dream } %>

    <div>
      <%= f.label :title %>
      <div>
        <%= f.text_field :title, size: 75, maxlength: 255 %>
        <div><%= t('.title_description') %></div>
      </div>
    </div>
    <div>
      <%= f.label :body %>
      <div>
        <%= f.text_area :body, required: true, cols: 75, rows: 20 %>
        <div>
          <p><%= t('.body_description') %></p>
          <p><%= t('.body_markup_header') %></p>
          <ul>
            <li><span>[dream 123]</span> — <%= t('.short_dream_markup') %></li>
            <li><span>[dream 123](<%= t(:text) %>)</span> — <%= t('.long_dream_markup') %></li>
            <li><span>{<%= t(:dummy_name) %>}</span> — <%= t('.short_name_markup') %></li>
            <li><span>{<%= t(:dummy_name) %>}(<%= t(:text) %>)</span> — <%= t('.long_name_markup') %></span></li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <%= f.label :tags_string %>
      <div>
        <%= f.text_area :tags_string, cols: 75, rows: 5 %>
        <div><%= t('.tags_description') %></div>
      </div>
    </div>
    <% if current_user %>
        <div>
          <%= f.label :lucidity %>: <%= f.range_field :lucidity, min: 0, max: 5 %> <span><%= @dream.lucidity %></span>
          <p class="notice"><%= t('.lucidity_description') %></p>
        </div>
    <% end %>
    <% unless current_user.nil? || (!@dream.new_record? && @dream.user.nil?) %>
        <div>
          <%= f.label :privacy %>
          <%= f.select :privacy, Entry::Dream.privacy_modes.invert %>
        </div>
    <% end %>
    <div>
      <%= f.button t('.submit'), type: 'submit' %>
    </div>
<% end %>
