<% if @dreams.any? %>
    <% @dreams.each do |dream| %>
        <div class="dream-preview">
          <div class="header">
            <div class="avatar"><%= raw entry_avatar(dream.user) %></div>
            <h3 class="title <%= dream.lucid? ? 'sucid' : '' %>">
              <%= link_to dream.parsed_title, verbose_entry_path(dream) %>
            </h3>

            <div class="privacy privacy-<%= dream.privacy %>">&nbsp;</div>

            <div class="author">
              <%= user_link dream.user %>,
              <time datetime="<%= dream.datetime %>"><%= dream.created_at.strftime('%d.%m.%Y, %H:%M') %></time>
              <%= t('activerecord.attributes.entry.lucidity') + ': ' + dream.lucidity.to_s if dream.lucid? %>
            </div>

            <% tags = dream.tags.order('canonical_name asc') %>
            <% if tags.any? %>
                <nav class="tags">
                  <h4><%= t('activerecord.attributes.entry.tags_string') %></h4>
                  <ul>
                    <% tags.each do |tag| %>
                        <li><%= tagged_entries_path(tag) %></li>
                    <% end %>
                  </ul>
                </nav>
            <% end %>
          </div>

          <div class="body">
            <%= raw parse_body(dream.preview, dream.is_a?(Entry::Article), dream.owned_by?(current_user)) %>
            <% if dream.passages_count > 2 %>
                <p class="more"><%= link_to t(:read_more), verbose_entry_path(dream) %></p>
            <% end %>
          </div>

          <div class="footer">
            <div class="comment-count"><%= t('comment', count: dream.comments_count) %></div>
          </div>
        </div>
    <% end %>

    <%= paginate @dreams %>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>