<div class="dream-preview privacy-<%= dream.privacy %>">
  <header>
    <%= dream_link(dream) %>
  </header>
  <div class="body">
    <%= raw handler.dream_preview(dream) %>
    <div class="more"><%= dream_link(dream, t(:read_all)) %></div>
  </div>
  <footer>
    <div class="author">
      <div class="image">
        <%= user_image_tiny(dream.user) %>
      </div>
      <%= user_link(dream.user) %>
    </div>
    <span class="comment_count"><%= dream.comments_count %></span>
    <%= time_tag(dream.created_at.to_date) %>
  </footer>
</div>
