<% content_for :title do %>
    <%= t('.title')
  %><%= (', ' + t('.year', year: params[:year])) unless params[:year].nil?
  %><%= (', ' + t('date.month_names')[params[:month].to_i].to_s + ', ' + t('page', page: params[:page] || 1)) unless params[:month].nil? %>
<% end %>
<% content_for :description do %>
    <%= t('.description')
  %><%= (', ' + t('.year', year: params[:year])) unless params[:year].nil?
  %><%= (', ' + t('date.month_names')[params[:month].to_i].to_s + ', ' + t('page', page: params[:page] || 1)) unless params[:month].nil? %>
<% end %>

<header>
  <h1><%= t('.header') %></h1>
</header>
<ul>
  <% @dates.keys.each do |year| %>
      <li><%= link_to year, archive_entry_dreams_path(year: year) %></li>
  <% end %>
</ul>

<%= render 'month_list' %>

<section>
  <%= render 'layouts/statistics' %>
  <%= render 'layouts/more' %>
</section>

<%= render 'common/metrics' %>
