<% content_for :meta_title do %>
    <%= t('.title')
    %><%= (', ' + t('.year', year: params[:year])) unless params[:year].nil?
%><%= (', ' + t('date.nominative_months')[params[:month].to_i].to_s + ', ' + t('page', page: current_page)) unless params[:month].nil? %>
<% end %>
<% content_for :meta_description do %>
    <%= t('.description')
    %><%= (', ' + t('.year', year: params[:year])) unless params[:year].nil?
%><%= (', ' + t('date.nominative_months')[params[:month].to_i].to_s + ', ' + t('page', page: current_page)) unless params[:month].nil? %>
<% end %>
<% content_for :sidebar do %>
    <%= render 'sidebar/more_links' %>
<% end %>
<%= render 'shared/metrics' %>

<section>
  <h1><%= t('.title') %></h1>
  <ul>
    <% @dates.keys.each do |year| %>
        <li><%= link_to year, archive_entry_dreams_path(year: year) %></li>
    <% end %>
  </ul>

  <%= render 'month_list' %>
</section>
