<header>
  <h1><%= @title %></h1>
  <nav>
    <ul>
      <li><%= link_to t('dreams.index.new_dream'), new_dream_path %></li>
    </ul>
  </nav>
</header>
<% if @dreams.any? %>
    <% @dreams.each do |dream| %>
        <%= render partial: 'posts/post', object: dream, locals: { preview: true } %>
    <% end %>

    <%= paginate @dreams %>
<% else %>
    <div class="message"><%= t('.no_dreams') %></div>
<% end %>
