<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :meta_description, t('.description', page: current_page) %>
<% content_for :sidebar do %>
    <div class="options">
      <ul>
        <li><%= link_to t('layouts.main_navigation.add_dream'), new_dream_path %></li>
        <li><%= link_to t('.archive'), archive_dreams_path %></li>
      </ul>
    </div>
<% end %>
<%= render 'shared/metrics' %>

<article class="dreams">
  <h1><%= t('.header') %></h1>

  <%= paginate @collection %>
  <%= render partial: 'list', locals: { dreams: @collection } %>
  <%= paginate @collection %>
</article>
