<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :meta_description, t('.description', page: current_page) %>
<% content_for :sidebar do %>
    <%= render 'sidebar/statistics' %>
    <%= render 'sidebar/donate' %>
    <%= render 'sidebar/more_links' %>
<% end %>

<%= render 'shared/metrics' %>

<section>
  <header>
    <h1><%= t('.header') %></h1>

    <h2><%= render 'shared/page' %></h2>
  </header>

  <%= render 'list' %>

</section>
