<% content_for :title, t('.title', page: params[:page] || 1) %>

<header>
  <h1><%= t('.header') %></h1>
  <h2><%= t('page', page: params[:page] || 1) %></h2>
  <nav>
    <ul>
      <li><%= link_to t('dreams.index.new_dream'), new_entry_dream_path %></li>
    </ul>
  </nav>
</header>

<%= render 'entries/list' %>

<section>
  <%= render 'layouts/statistics' %>
  <%= render 'layouts/more' %>
</section>
