<% content_for :meta_title, t('.title', title: @entity.title!) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('dreams.index.nav_text'), dreams_path) %>
  <span><%= @entity.title! %></span>
<% end %>

<article class="dream privacy-<%= @entity.privacy %>">
  <div class="content-wrapper">
    <header>
      <h1><%= @entity.title! %></h1>
    </header>

    <div class="text">
      <%= raw component_handler.parsed_dream(@entity) %>
    </div>

    <footer>
      <div class="author">
        <div class="image">
          <%= user_image_tiny(@entity.user) %>
        </div>
        <%= user_link(@entity.user) %>
      </div>

      <%= time_tag(@entity.created_at.to_date) %>
    </footer>
  </div>
</article>
<%= render partial: 'shared/track', locals: { item: @entity } %>
<%= render partial: 'comments/section', locals: { entity: @entity } %>
