<% content_for :meta_title, t('.title', title: @dream.parsed_title) %>
<% content_for :meta_description, t('.description', title: @dream.parsed_title, user: @dream.author_name, date: @dream.created_at.strftime('%d.%m.%Y')) %>
<% content_for :meta_type, 'article' %>
<% content_for :meta_type_extension do %>
    <meta property="og:article:published_time" content="<%= @dream.created_at.iso_day %>" />
    <meta property="og:article:modified_time" content="<%= @dream.updated_at.iso_day %>" />
    <meta property="og:article:author" content="<%= @dream.author_name %>" />
<% end %>
<% content_for :sidebar do %>
    <%= render 'sidebar/statistics' %>
    <%= render 'sidebar/more_links' %>
<% end %>
<%= render 'shared/metrics' %>

<% adjacent = [@dream.previous_entry_for(current_user), @dream.next_entry_for(current_user)] %>
<% unless adjacent[0].nil? && adjacent[1].nil? %>
    <nav class="adjacent-entries">
      <ul aria-label="<%= t('.adjacent') %>">
        <% unless adjacent[0].nil? %>
            <li class="previous"><%= link_to t('.previous'), verbose_entry_path(adjacent[0]), rel: 'prev' %></li>
        <% end %>
        <% unless adjacent[1].nil? %>
            <li class="next"><%= link_to t('.next'), verbose_entry_path(adjacent[1]), rel: 'next' %></li>
        <% end %>
      </ul>
    </nav>
<% end %>

<%= render partial: 'dream', object: @dream %>
