<% content_for :title, t('.title', title: @entry.parsed_title) %>
<% content_for :description, t('.description', title: @entry.parsed_title, user: @entry.author_name, date: @entry.created_at.strftime('%d.%m.%Y')) %>

<header>
  <h1><%= t('.header') %></h1>
  <% if @entry.editable_by? current_user %>
  <nav>
    <ul>
      <li><%= link_to t('edit'), edit_entry_dream_path(@entry) %></li>
      <li><%= link_to t('delete'), @entry, method: :delete, data: { confirm: t('are_you_sure') } %></li>
    </ul>
  </nav>
  <% end %>
</header>

<%= render partial: 'entries/entry', object: @entry %>

<section>
  <%= render 'layouts/statistics' %>
  <%= render 'layouts/more' %>
</section>
