<header>
  <h1><%= @title %></h1>
  <% if !current_user.nil? && current_user.editor? %>
  <nav>
    <ul>
      <li><%= link_to t('.edit_tag'), admin_dream_tag_path(@tag) %></li>
    </ul>
  </nav>
  <% end %>
</header>

<% unless @tag.description.blank? %>
    <p><%= link_to t('.tag_description'), dreambook_word_path(letter: @tag.letter, word: @tag.name) %></p>
<% end %>

<%= render 'entries/list' %>

<section>
  <%= render 'layouts/statistics' %>
  <%= render 'layouts/more' %>
</section>
