<% content_for :meta_title, t('.title', tag: @tag.name, page: current_page) %>
<% content_for :meta_description, t('.description', tag: @tag.name, page: current_page) %>
<% content_for :sidebar do %>
    <%= render 'sidebar/statistics' %>
    <%= render 'sidebar/more_links' %>
<% end %>
<%= render 'shared/metrics' %>

<section>
  <header>
    <h1><%= t('.header', tag: @tag.name) %></h1>

    <h2><%= render 'shared/page' %></h2>
    <% if current_user %>
        <nav class="options">
          <ul>
            <li><%= link_to t('.my_dreams'), tagged_my_dreams_path(tag: @tag.name) %></li>
            <% if visitor_has_role? :posts_manager %>
                <li><%= link_to t('.edit_tag'), admin_dream_tag_path(@tag) %></li>
            <% end %>
          </ul>
        </nav>
    <% end %>
  </header>

  <% unless @tag.description.blank? %>
      <p><%= link_to t('.tag_description'), dreambook_word_path(letter: @tag.letter, word: @tag.name) %></p>
  <% end %>

  <%= render 'list' %>
</section>
