<% content_for :meta_title, t('.title', page: current_page) %>

<article>
  <header>
    <h1><%= t('.header') %></h1>
    <h2><%= render 'shared/page' %></h2>
  </header>

  <% if @comments.any? %>
      <div class="comments">
        <% @comments.each do |comment| %>
            <div>
              <div class="header">
                  <span class="user">
                    <%= comment_avatar(comment.user) %>
                    <%= user_link(comment.user) %>
                    <%= link_to comment.commentable.parsed_title, verbose_entry_path(comment.commentable) %>
                  </span>
                <time datetime="<%= comment.created_at.w3c %>"><%= comment.created_at.strftime('%d.%m.%Y, %H:%M') %></time>
              </div>

              <div class="body">
                <%= comment.body %>
              </div>

              <div class="actions">
                <nav class="options">
                  <ul>
                    <li><%= link_to t(:view), admin_comment_path(comment) %></li>
                    <li><%= link_to t(:edit), edit_admin_comment_path(comment) %></li>
                    <li><%= link_to t(:delete), admin_comment_path(comment), method: :delete, data: { confirm: t(:are_you_sure) } %></li>
                  </ul>
                </nav>
              </div>
              <%= render 'shared/track_data', item: comment %>
            </div>
        <% end %>
      </div>

      <%= paginate @comments %>
  <% else %>
      <%= render 'shared/nothing_found' %>
  <% end %>
</article>
