<% content_for :title, t('.title', page: params[:page] || 1) %>
<% content_for :description, t('.description', page: params[:page] || 1) %>

<header>
  <h1><%= t('.header') %></h1>
  <h2><%= t('page', page: params[:page] || 1) %></h2>
</header>

<% if @comments.any? %>
    <ul class="admin-comments">
      <% @comments.each do |comment| %>
      <li>
        <div>
          <p>
            <time datetime="<%= comment.datetime %>"><%= comment.created_at.strftime('%d.%m.%Y, %H:%M') %></time>,
            <%= user_link(comment.user) %>,
            <%= link_to comment.entry.parsed_title, verbose_entry_path(comment.entry) %>
          </p>
        </div>
        <div>
          <p><%= comment.body %></p>
        </div>
        <div>
          <p><%= link_to t('view'), admin_comment_path(comment) %></p>
          <p><%= link_to t('edit'), edit_admin_comment_path(comment) %></p>
          <p><%= link_to t('delete'), admin_comment_path(comment), method: :delete, data: { confirm: t('are_you_sure') } %></p>
        </div>
      </li>
      <% end %>
    </ul>

    <%= paginate @comments %>
<% else %>
    <div class="message"><%= t('nothing_found') %></div>
<% end %>