<% content_for :meta_title, t('.title', id: @comment.id) %>

<article>
  <header>
    <h1><%= t('.title', id: @comment.id) %></h1>
    <nav class="options">
      <ul>
        <li><%= link_to t(:list), admin_comments_path %></li>
      </ul>
    </nav>
  </header>

  <div class="comments">
    <div>
      <div class="header">
                  <span class="user">
                    <%= comment_avatar(@comment.user) %>
                    <%= user_link(@comment.user) %>
                    <%= link_to @comment.commentable.parsed_title, verbose_entry_path(@comment.commentable) %>
                  </span>
        <time datetime="<%= @comment.created_at.w3c %>"><%= @comment.created_at.strftime('%d.%m.%Y, %H:%M') %></time>
      </div>

      <div class="body">
        <%= raw parse_body(@comment.body, false, true) %>
      </div>

      <div class="actions">
        <nav class="options">
          <ul>
            <li><%= link_to t(:edit), edit_admin_comment_path(@comment) %></li>
            <li><%= link_to t(:delete), admin_comment_path(@comment), method: :delete, data: { confirm: t(:are_you_sure) } %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</article>
