<% content_for :title, t('.title', id: @comment.id) %>
<% content_for :description, t('.description') %>

<header>
  <h1><%= t('.header', id: @comment.id) %></h1>
  <nav>
    <ul>
      <li><%= link_to t('.comments'), admin_comments_path %></li>
    </ul>
  </nav>
</header>

<ul class="comments">
      <li id="comment-<%= @comment.id %>">
        <div>
          <figure>
            <%= comment_avatar(@comment.user) %>
            <figcaption><%= user_link(@comment.user) %></figcaption>
          </figure>
          <time datetime="<%= @comment.datetime %>"><%= @comment.created_at.strftime('%d.%m.%Y, %H:%M') %></time>
        </div>

        <div>
          <%= raw parse_body(@comment.body, false, true) %>
        </div>

        <ul class="actions">
          <li>
            <div><%= link_to t('edit'), edit_admin_comment_path(@comment) %></div>
            <div><%= link_to t('delete'), admin_comment_path(@comment), method: :delete, data: { confirm: t('are_you_sure') } %></div>
            <div></div>
          </li>
        </ul>
      </li>
</ul>
