<article class="user entity-page">
  <h1><%= user.profile_name %></h1>
  <% if current_user == user %>
      <ul class="actions">
        <li><%= back_icon(my_path) %></li>
        <li><%= edit_icon(edit_my_profile_path) %></li>
      </ul>
  <% end %>
  <table>
    <caption><%= t('.user_info') %></caption>
    <tbody>
    <tr>
      <td colspan="2">
        <figure><%= profile_avatar(user) %></figure>
      </td>
    </tr>
    <tr>
      <th><%= t('.registration_date') %></th>
      <td><%= time_tag user.created_at %></td>
    </tr>
    <% unless user.last_seen.blank? %>
        <tr>
          <th><%= t('activerecord.attributes.user.last_seen') %></th>
          <td><%= time_tag user.last_seen %></td>
        </tr>
    <% end %>
    <% unless user.name.blank? %>
        <tr>
          <th><%= t('activerecord.attributes.user.name') %></th>
          <td><%= user.name %></td>
        </tr>
    <% end %>
    <% if current_user == user && !user.email.blank? %>
        <tr>
          <th><%= t('activerecord.attributes.user.email') %></th>
          <td><%= user.email %></td>
        </tr>
    <% end %>
    <% unless user.gender.blank? %>
        <tr>
          <th><%= t('activerecord.attributes.user.gender') %></th>
          <td><%= t("activerecord.attributes.user.genders.#{user.gender}") %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <nav>
    <ul>
      <li><%= link_to t('.dreams'), user_dreams_path(slug: user.long_slug) %></li>
      <li><%= link_to t('.posts'), user_posts_path(slug: user.long_slug) %></li>
      <li><%= link_to t('.comments'), user_comments_path(slug: user.long_slug) %></li>
    </ul>
  </nav>
</article>
