<% content_for :title, t('.title') %>
<% content_for :description, t('.description') %>

<header>
  <h1><%= t('.header') %></h1>
  <nav>
    <ul>
      <li><%= link_to t('edit'), edit_my_profile_path %></li>
    </ul>
  </nav>
</header>

<article class="profile">
  <h2><%= current_user.login %></h2>
  <figure>
    <%= profile_avatar(current_user) %>
    <figcaption><%= t('.avatar') %></figcaption>
  </figure>
  <dl>
    <dt><%= t('.created_at') %></dt>
    <dd><%= current_user.created_at %></dd>
    <dt><%= t('activerecord.attributes.user.email') %></dt>
    <dd>
      <%= current_user.email %>
      <% if current_user.allow_mail %>
          <div class="flag"><%= t('activerecord.attributes.user.allow_mail') %></div>
      <% end %>
      <% if current_user.mail_confirmed? %>
      <div class="flag"><%= t('user.email_confirmed') %></div>
          <% else %>
          <%= form_tag my_confirmation_path, method: :post do %>
              <%= button_tag t('.send_code'), type: :submit %>
          <% end %>
      <% end %>
    </dd>
    <dt><%= t('.statistics') %></dt>
    <dd>
      <ul>
        <li><%= t('.entries_count') %>: <%= current_user.entries_count %></li>
        <li><%= t('.comments_count') %>: <%= current_user.comments_count %></li>
      </ul>
    </dd>
  </dl>
</article>

<%= render 'common/metrics' %>
