<% content_for :meta_title, t('.title') %>
<% content_for :meta_description, t('.description') %>
<%= render 'shared/metrics' %>

<article class="login">
  <header>
    <h1><%= t('.title') %></h1>
  </header>
  <%= form_tag do %>
      <fieldset>
        <legend><%= t('.enter_credentials') %></legend>
        <div>
          <%= label_tag :login, t('.login') %>
          <%= text_field_tag :login, params[:login], required: true %>
        </div>
        <div>
          <%= label_tag :password, t('.password') %>
          <%= password_field_tag :password, params[:password], required: true %>
        </div>
        <div>
          <%= button_tag t('.enter'), type: :submit %>
        </div>
      </fieldset>
  <% end %>
  <p><%= link_to t('.recovery_form'), my_recovery_path %></p>
</article>
