<% if collection.any? %>
    <ul class="list-of-agents">
      <% collection.each do |agent| %>
          <li>
            <div class="data">
              <div class="heading">
                <%= link_to agent.name, agent %>
                <div class="actions">
                  <span class="edit <%= agent.locked? ? 'hidden' : '' %>">
                    <%= link_to image_tag('icons/edit.png', alt: t(:edit)), edit_agent_path(agent), title: t(:edit) %>
                  </span>
                  <span class="lock" data-url="<%= lock_api_agent_path(agent) %>">
                    <%= link_to image_tag('icons/locked.png'), '#', class: "unlock #{agent.locked? ? '' : 'hidden'}" %>
                    <%= link_to image_tag('icons/unlocked.png'), '#', class: "lock #{agent.locked? ? 'hidden' : ''}" %>
                  </span>
                </div>
              </div>
              <%= render partial: 'admin/agents/toggleable', locals: { agent: agent } %>
            </div>
          </li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
