<section class="dreambook-word" itemscope itemtype="http://schema.org/ScholarlyArticle">
  <meta itemprop="articleSection" content="<%= t('layouts.main_navigation.dreambook') %>"/>
  <h1 itemprop="headline"><%= pattern.name %></h1>

  <div itemprop="articleBody" role="definition">
    <% if pattern.description.blank? %>
        <p>Этот образ ещё не описан.</p>
    <% else %>
        <%= raw prepare_pattern_text(pattern) %>
    <% end %>
    <% if links['see_instead'].to_a.any? %>
        <% links['see_instead'].each do |another_pattern| %>
            <div class="see-instead">
              <div class="header"><%= link_to_dreambook another_pattern %></div>
              <div class="description"><%= raw prepare_pattern_text(another_pattern) %></div>
            </div>
        <% end %>
    <% end %>
    <% if links['see_also'].to_a.any? %>
        <nav class="see-also">
          <p><%= t(:see_also) %></p>
          <ul>
            <% links['see_also'].each do |another_pattern| %>
                <li><%= link_to another_pattern.name, dreambook_word_path(letter: another_pattern.letter, word: another_pattern.name) %></li>
            <% end %>
          </ul>
        </nav>
    <% end %>
  </div>
</section>
