<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
  <% if @letter.blank? %>
    <span><%= t('.nav_text') %></span>
  <% else %>
    <%= link_to(t('.nav_text'), dreambook_path) %>
    <span><%= @letter %></span>
  <% end %>
<% end %>

<article>
  <div class="content-wrapper">
    <h1><%= t('.title') %><%= @letter.blank? ? '' : ": #{@letter}" %></h1>

    <p><%= link_to 'Опишите свой сон', new_dream_path %>, и вам помогут его
      растолковать.</p>
    <p>В соннике собраны общие интерпретации символов. Имейте в виду, что лучше
      сначала подумать над тем,
      с чем у вас лично ассоциируется то или иное увиденное во сне, и если особых
      идей нет, то уже тогда
      смотреть в сонник.</p>
    <p>Дело в том, что при наличии каких-то общих для всех моментов, каждый символ
      всё равно будет иметь
      для разных людей разный смысл.</p>
    <p>Работа над сонником ведётся постоянно, так что он улучшается и
      дополняется.</p>

    <section>
      <%= render 'letters' %>

      <% if @collection.any? %>
        <ul class="dreambook-words">
          <% @collection.each do |pattern| %>
            <li><%= link_to(pattern.name, dreambook_word_path(word: pattern.name)) %></li>
          <% end %>
        </ul>
      <% end %>
    </section>
  </div>
</article>
