<% content_for :title, t('.title') %>
<% content_for :description, t('.description') %>

<header>
  <h1><%= t('.header') %></h1>
</header>

<%= render 'greeting' %>
<%= render 'search' %>
<%= render 'letters' %>

<%= render 'layouts/social' %>

<section>
  <%= render 'layouts/statistics' %>
  <%= render 'layouts/more' %>
</section>
