<header>
  <h1><%= t('controllers.dreambook.index') %></h1>
</header>

<%= render 'letters' %>

<h2><%= @title %></h2>
<% if @tags.any? %>
    <nav>
      <ul class="dreambook-symbols">
        <% @tags.each do |word| %>
        <li><%= link_to word.name, dreambook_word_path(letter: word.letter, word: word.name ) %></li>
        <% end %>
      </ul>
    </nav>

    <%= paginate @tags %>
<% else %>
    <div class="message"><%= t('nothing_found') %></div>
<% end %>

<section>
  <%= render 'layouts/statistics' %>
  <%= render 'layouts/more' %>
</section>
