<% content_for :title, t('.title', letter: params[:letter], page: params[:page] || 1) %>

<header>
  <h1><%= t('.header', letter: params[:letter]) %></h1>
  <h2><%= t('page', page: params[:page] || 1) %></h2>
</header>

<%= render 'letters' %>

<% if @tags.any? %>
    <nav>
      <ul class="dreambook-symbols">
        <% @tags.each do |word| %>
        <li><%= link_to word.name, dreambook_word_path(letter: word.letter, word: word.name ) %></li>
        <% end %>
      </ul>
    </nav>

    <%= paginate @tags %>
<% else %>
    <div class="message"><%= t('nothing_found') %></div>
<% end %>

<section>
  <%= render 'layouts/statistics' %>
  <%= render 'layouts/more' %>
</section>
