<% content_for :meta_title, t('.title', word: query_from_request) %>
<% content_for :meta_description, t('.description', word: query_from_request) %>
<%= render 'shared/metrics' %>

<section>
  <header>
    <h1><%= t('.header') %></h1>
  </header>

  <%= render 'search' %>

  <h2><%= t('.result') %></h2>
  <% if @tags.any? %>
      <nav>
        <ul class="dreambook-symbols">
          <% @tags.each do |word| %>
              <li><%= link_to word.name, dreambook_word_path(letter: word.letter, word: word.name ) %></li>
          <% end %>
        </ul>
      </nav>
  <% else %>
      <%= render 'shared/nothing_found' %>
  <% end %>
</section>
