<% content_for :meta_title, t('.title', word: @pattern.name) %>
<% content_for :meta_description, t('.description', word: @pattern.name) %>
<% content_for :meta_type, 'article' %>
<% content_for :meta_type_extension do %>
    <meta property="og:article:published_time" content="<%= @pattern.created_at.iso_day %>"/>
    <meta property="og:article:modified_time" content="<%= @pattern.updated_at.iso_day %>"/>
    <meta property="og:article:section" content="<%= t('layouts.main_navigation.dreambook') %>"/>
<% end %>
<% content_for :sidebar do %>
    <% if current_user_has_role? :administrator %>
        <div>
          <nav class="options">
            <ul>
              <li><%= link_to t(:create), new_pattern_path %></li>
              <li><%= link_to t(:edit), edit_pattern_path(@pattern) %></li>
            </ul>
          </nav>
        </div>
    <% end %>
<% end %>
<%= render 'shared/metrics' %>

<article class="dreambook">
  <h1><%= t('.header') %></h1>

  <%= render 'search' %>
  <%= render 'letters' %>

  <%= render partial: 'pattern', locals: { pattern: @pattern, links: @pattern.links } %>
  <%= render partial: 'shared/track_data', locals: { item: @pattern } %>
  <div class="options">
    <p>Вы можете <%= link_to 'описать свой сон', new_dream_path %> более подробно, и вам помогут
      определить его значение точнее.</p>
    <p><%= link_to t('.read_dreams'), tagged_dreams_path(tag_name: @pattern.name_for_url) %> (<%= @pattern.dream_count %>)</p>
  </div>
  <%= render 'shared/social' %>
  <%= render partial: 'comments/list', locals: { commentable: @pattern, comments: @pattern.comments } %>
</article>
