<header>
  <h1><%= @title %></h1>
  <% if !current_user.nil? && current_user.editor? %>
      <nav>
        <ul>
          <li><%= link_to t('edit'), admin_dream_tag_path(@tag) %></li>
        </ul>
      </nav>
  <% end %>
</header>

<%= render 'letters' %>
<article class="dreambook-word">
  <dl>
    <dt><%= @tag.name %></dt>
    <dd><%= raw parse_body(@tag.description, true) %></dd>
  </dl>
  <footer>
    <nav><%= link_to t('.read_dreams'), tagged_entry_dreams_path(tag: @tag.name) %> (<%= @tag.entries_count %>)</nav>
    <%= render 'layouts/social' %>
  </footer>
</article>
