<%= render 'letters' %>

<article class="dreambook-word">
  <header>
    <h2><%= link_to t('titles.dreambook.letters', letter: @tag.letter), dreambook_letter_path(letter: @tag.letter) %></h2>
  </header>
  <dl>
    <dt><%= @tag.name %></dt>
    <dd><%= raw @tag.parsed_description %></dd>
  </dl>
  <footer>
    <nav><%= link_to t('.read_dreams'), tagged_dreams_path(tag: @tag.name) %> (<%= @tag.dreams_count %>)</nav>
    <%= render 'layouts/social' %>
  </footer>
</article>