<% content_for :title, t('.title', word: @tag.name) %>
<% content_for :description, t('.description', word: @tag.name) %>

<header>
  <h1><%= t('.header') %></h1>
  <% if current_user && current_user.editor? %>
      <nav>
        <ul>
          <li><%= link_to t('edit'), edit_admin_dream_tag_path(@tag) %></li>
        </ul>
      </nav>
  <% end %>
</header>

<%= render 'search' %>

<article class="dreambook-word" itemscope itemtype="http://schema.org/ScholarlyArticle">
  <meta itemprop="articleSection" content="<%= t('layouts.application.dreambook') %>"/>
  <header>
    <h2 itemprop="headline"><%= @tag.name %></h2>
  </header>
  <div itemprop="articleBody" role="definition">
    <%= raw parse_body(@tag.description.to_s, true) %>
  </div>
  <footer>
    <%= render 'call' %>
    <nav><%= link_to t('.read_dreams'), tagged_entry_dreams_path(tag: @tag.name) %> (<%= @tag.entries_count %>)</nav>
  </footer>
</article>

<%= render 'layouts/social' %>

<%= render 'letters' %>

<section>
  <%= render 'layouts/statistics' %>
  <%= render 'layouts/more' %>
</section>

<%= render 'common/metrics' %>
