<% content_for :meta_title, t('.title', word: @tag.name) %>
<% content_for :meta_description, t('.description', word: @tag.name) %>
<% content_for :meta_type, 'article' %>
<% content_for :meta_type_extension do %>
    <meta property="og:article:published_time" content="<%= @tag.created_at.iso_day %>" />
    <meta property="og:article:modified_time" content="<%= @tag.updated_at.iso_day %>" />
    <meta property="og:article:section" content="<%= t('layouts.main_navigation.dreambook') %>" />
<% end %>
<% content_for :sidebar do %>
    <%= render 'sidebar/donate' %>
    <%= render 'sidebar/more_links' %>
<% end %>

<%= render 'shared/metrics' %>

<article>
<header>
  <h1><%= t('.header') %></h1>
  <% if visitor_has_role? :posts_manager %>
      <nav class="options">
        <ul>
          <li><%= link_to t(:edit), edit_admin_dream_tag_path(@tag) %></li>
        </ul>
      </nav>
  <% end %>
</header>

<%= render 'search' %>

<section class="dreambook-word" itemscope itemtype="http://schema.org/ScholarlyArticle">
  <meta itemprop="articleSection" content="<%= t('layouts.main_navigation.dreambook') %>"/>
  <header>
    <h1 itemprop="headline"><%= @tag.name %></h1>
  </header>
  <div itemprop="articleBody" role="definition">
    <%= raw parse_body(@tag.description.to_s, true, true) %>
  </div>
  <footer>
    <%= render 'call' %>
    <nav><%= link_to t('.read_dreams'), tagged_entry_dreams_path(tag: @tag.name) %> (<%= @tag.entries_count %>)</nav>
  </footer>
</section>

<%= render 'shared/social' %>

<%= render 'letters' %>

</article>

