<% content_for :meta_title, t('.title', id: @entity.id) %>
<% content_for :sidebar do %>
    <div class="options">
      <ul>
        <li><%= link_to t(:list), comments_path %></li>
        <li><%= link_to t(:edit), edit_comment_path(@entity) %></li>
      </ul>
    </div>
<% end %>

<article class="comment">
  <h1><%= t('.title', id: @entity.id) %></h1>
  <%= render partial: 'admin/flags', locals: { flags: @entity.flags } %>
  <div class="header">
    <p><%= link_to "#{@entity.commentable.class} «#{@entity.commentable.title_for_view}»", @entity.commentable %></p>
    <p><%= user_link @entity.user %></p>
  </div>
  <div class="body"><%= raw prepare_comment_text(@entity, current_user) %></div>

  <%= render partial: 'shared/track_data', locals: { item: @entity } %>
</article>
