<% content_for :meta_title, t('.title') %>

<article class="admin-index">
  <h1><%= t('.title') %></h1>

  <section class="dashboard">
    <nav>
      <ul>
        <% if current_user_has_role? :administrator %>
            <li>
              <div><%= link_to t('admin.violations.index.heading'), admin_violations_path %></div>
              <div class="description"><%= t('admin.violations.index.description') %></div>
            </li>
            <li>
              <div><%= link_to t('admin.users.index.heading'), admin_users_path %></div>
              <div class="description"><%= t('admin.users.index.description') %></div>
            </li>
            <li>
              <div><%= link_to t('admin.tokens.index.heading'), admin_tokens_path %></div>
              <div class="description"><%= t('admin.tokens.index.description') %></div>
            </li>
            <li>
              <div><%= link_to t('admin.codes.index.heading'), admin_codes_path %></div>
              <div class="description"><%= t('admin.codes.index.description') %></div>
            </li>
            <li>
              <div><%= link_to t('admin.browsers.index.heading'), admin_browsers_path %></div>
              <div class="description"><%= t('admin.browsers.index.description') %></div>
            </li>
            <li>
              <div><%= link_to t('admin.agents.index.heading'), admin_agents_path %></div>
              <div class="description"><%= t('admin.agents.index.description') %></div>
            </li>
            <li>
              <div><%= link_to t('admin.comments.index.heading'), admin_comments_path %></div>
              <div class="description"><%= t('admin.comments.index.description') %></div>
            </li>
            <li>
              <div><%= link_to t('admin.grain_categories.index.heading'), admin_grain_categories_path %></div>
              <div class="description"><%= t('admin.grain_categories.index.description') %></div>
            </li>
            <li>
              <div><%= link_to t('admin.dreams.index.heading'), admin_dreams_path %></div>
              <div class="description"><%= t('admin.dreams.index.description') %></div>
            </li>
            <li>
              <div><%= link_to t('admin.questions.index.heading'), admin_questions_path %></div>
              <div class="description"><%= t('admin.questions.index.description') %></div>
            </li>
            <li>
              <div><%= link_to t('admin.metrics.index.heading'), admin_metrics_path %></div>
              <div class="description"><%= t('admin.metrics.index.description') %></div>
            </li>
        <% end %>
        <% if current_user_has_role? :editor, :chief_editor %>
            <li>
              <div><%= link_to t('admin.tags.index.heading'), admin_tags_path %></div>
              <div class="description"><%= t('admin.tags.index.description') %></div>
            </li>
            <li>
              <div><%= link_to t('admin.posts.index.heading'), admin_posts_path %></div>
              <div class="description"><%= t('admin.posts.index.description') %></div>
            </li>
            <li>
              <div><%= link_to t('admin.fillers.index.heading'), admin_fillers_path %></div>
              <div class="description"><%= t('admin.fillers.index.description') %></div>
            </li>
        <% end %>
        <% if current_user_has_role? :interpreter, :chief_interpreter %>
            <li>
              <div><%= link_to t('admin.patterns.index.heading'), admin_patterns_path %></div>
              <div class="description"><%= t('admin.patterns.index.description') %></div>
            </li>
            <li>
              <div><%= link_to t('admin.words.index.heading'), admin_words_path %></div>
              <div class="description"><%= t('admin.words.index.description') %></div>
            </li>
        <% end %>
      </ul>
    </nav>

    <section>
      <h2><%= t('admin.metrics.index.heading') %></h2>

      <%= render partial: 'admin/metrics/list', locals: { collection: Metric.page_for_administration } %>
    </section>
  </section>
</article>
