<% content_for :meta_title, t('.title') %>

<article class="admin-index">
  <h1><%= t('.title') %></h1>

  <ul>
    <% if current_user_has_role? :administrator %>
        <li><%= link_to t('admin.users.index.heading'), admin_users_path %></li>
        <li><%= link_to t('admin.tokens.index.heading'), admin_tokens_path %></li>
        <li><%= link_to t('admin.codes.index.heading'), admin_codes_path %></li>
    <% end %>
    <% if current_user_has_role? :editor, :chief_editor %>
        <li><%= link_to t('admin.tags.index.heading'), admin_tags_path %></li>
        <li><%= link_to t('admin.posts.index.heading'), admin_posts_path %></li>
    <% end %>
  </ul>
</article>
