<% if collection.any? %>
  <% component = Biovision::Components::BaseComponent.handler('dreams') %>
  <div class="dreams-list">
    <% collection.each do |entity| %>
        <div class="dream-preview">
          <header>
            <h3><%= my_dream_link(entity) %></h3>
            (<%= dream_privacy(entity) %>)
          </header>
          <div class="body">
            <%= raw(component.dream_preview(entity, current_user)) %>
            <%= my_dream_link(entity, t(:read_all), class: 'more') %>
          </div>
          <footer>
            <% unless entity.sleep_place.nil? %>
              <div class="sleep-place">
                <%= entity.sleep_place.name %>
              </div>
            <% end %>
            <%= time_tag(entity.created_at.to_date) %>,
            <%= t('activerecord.attributes.dream.lucidity') %>:
            <%= entity.lucidity %>
          </footer>
        </div>
    <% end %>
  </div>
<% else %>
  <div class="message-box-warning"><%= t('.empty_list') %></div>
<% end %>
