<% if collection.any? %>
  <div class="dreams-list">
    <% collection.each do |entity| %>
        <div class="dream-preview privacy-<%= entity.privacy %>">
          <header>
            <h3><%= my_dream_link(entity) %></h3>
          </header>
          <div class="body">
            <%= raw component_handler.dream_preview(entity) %>
            <%= my_dream_link(entity, t(:read_all), class: 'more') %>
          </div>
          <footer>
            <% unless entity.sleep_place.nil? %>
              <div class="sleep-place">
                <%= entity.sleep_place.name %>
              </div>
            <% end %>
            <%= time_tag(entity.created_at.to_date) %>,
            <%= t('activerecord.attributes.dream.lucidity') %>:
            <%= entity.lucidity %>
          </footer>
        </div>
    <% end %>
  </div>
<% else %>
  <div class="message-box-warning"><%= t('.empty_list') %></div>
<% end %>
