<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('my.index.index.nav_text'), my_path) %>
  <span><%= t('.nav_text') %></span>
<% end %>

<article>
  <div class="content-wrapper">
    <h1><%= t('.heading') %></h1>

    <nav>
      <%= link_to(t('dreams.new.nav_text'), new_dream_path, class: 'button-nav') %>
    </nav>

    <%= paginate @collection %>
    <%= render partial: 'list', locals: { collection: @collection } %>
    <%= paginate @collection %>
  </div>
</article>
