<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :sidebar do %>
    <div>
      <p><%= link_to t('my.dreams.archive.title'), archive_my_dreams_path %></p>
    </div>
<% end %>
<%= render 'shared/metrics' %>

<article class="dreams">
  <h1><%= t('.header') %></h1>

  <%= paginate @collection %>
  <%= render partial: 'dreams/list', locals: { dreams: @collection } %>
  <%= paginate @collection %>
</article>
