<% content_for :meta_title, t('.title', title: @entity.title!) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('my.dreams.index.nav_text'), my_dreams_path) %>
  <%= @entity.title! %>
<% end %>

<% component = Biovision::Components::BaseComponent.handler('dreams') %>
<article class="dream">
  <header>
    <h1><%= @entity.title! %></h1>

    <nav>
      <%= link_to(t('dreams.edit.nav_text'), edit_dream_path(id: @entity.id)) %>
    </nav>
  </header>

  <div class="text">
    <%= raw(component.parsed_dream(@entity, current_user)) %>
  </div>

  <footer>
    <%= t('activerecord.attributes.dream.lucidity') %>: <%= @entity.lucidity %>,
    <%= dream_privacy(@entity) %>,
    <% unless @entity.sleep_place_id.nil? %>
      <%= my_sleep_place_link(@entity.sleep_place) %>,
    <% end %>
    <%= time_tag(@entity.created_at) %>
  </footer>
</article>
