<% content_for :meta_title, t('.title', title: @entity.title!) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('my.index.index.nav_text'), my_path) %>
  <%= link_to(t('my.dreams.index.nav_text'), my_dreams_path) %>
  <%= @entity.title! %>
<% end %>

<article class="dream privacy-<%= @entity.privacy %>">
  <div class="content-wrapper">
    <header>
      <h1><%= @entity.title! %></h1>
    </header>

    <nav>
      <%= link_to(t('dreams.edit.nav_text'), edit_dream_path(id: @entity.id)) %>
    </nav>

    <div class="text">
      <%= raw component_handler.parsed_dream(@entity) %>
    </div>

    <%=
      render(
          partial: 'dreams/interpretation_form',
          locals: { dream: @entity }
      )
    %>

    <footer>
      <%= t('activerecord.attributes.dream.lucidity') %>: <%= @entity.lucidity %>,
      <%= dream_privacy(@entity) %>,
      <% unless @entity.sleep_place_id.nil? %>
        <%= my_sleep_place_link(@entity.sleep_place) %>,
      <% end %>
      <%= time_tag(@entity.created_at) %>
    </footer>
  </div>
</article>
