<% content_for :title, t('.title', tag: @tag.name, page: params[:page] || 1) %>
<% content_for :description, t('.description', tag: @tag.name, page: params[:page] || 1) %>

<header>
  <h1><%= t('.header', tag: @tag.name) %></h1>
  <h2><%= t('page', page: params[:page] || 1) %></h2>
</header>

<% unless @tag.description.blank? %>
    <p><%= link_to t('dreams.tagged.tag_description'), dreambook_word_path(letter: @tag.letter, word: @tag.name) %></p>
<% end %>

<%= render 'entries/list' %>

<section>
  <%= render 'layouts/statistics' %>
  <%= render 'layouts/more' %>
</section>

<%= render 'common/metrics' %>
