<% @comment = Comment.new(entry: entry) %>
<section>
  <% if entry.comments.any? %>
      <h3><%= t('.comments') %></h3>
      <ul class="comments">
        <% entry.comments.order('id asc').each do |comment| %>
            <li id="comment-<%= comment.id %>">
              <div>
                <figure>
                  <%= comment_avatar(comment.user) %>
                  <figcaption><%= user_link(comment.user) %></figcaption>
                </figure>
                <time datetime="<%= comment.datetime %>"><%= comment.created_at.strftime('%d.%m.%Y, %H:%M') %></time>
              </div>

              <div>
                <%= raw parse_body(comment.body) %>
              </div>

              <ul class="actions">
                <li>
                  <div><%= t('.reply') %></div>
                  <div></div>
                </li>
              </ul>
            </li>
        <% end %>
      </ul>
  <% end %>

  <div class="reply-container">
    <h3><%= t('.add_comment') %></h3>
    <div>
      <%= render 'comments/form' %>
    </div>
  </div>
</section>
