<article class="entry">
  <header>
    <figure><%= raw user_avatar(entry.user) %></figure>
    <h2>
      <% if local_assigns[:preview] %>
        <%= link_to entry.parsed_title, entry %>
    <% else %>
        <%= entry.parsed_title %>
    <% end %>
    </h2>

    <div class="privacy privacy-<%= entry.privacy %>">&nbsp;</div>

    <div class="author">
      <%= user_link entry.user %>,
      <%= t("activerecord.models.#{entry.class.to_s.downcase.gsub('::', '_')}") + ' ' + t('at') %>
      <time datetime="<%= entry.created_at %>"><%= entry.created_at.strftime('%d.%m.%Y, %H:%M') %></time>
    </div>

    <% tags = entry.tags %>
    <% if tags.any? %>
        <div class="tags">
          <div><%= t('posts.post.tags') %></div>
          <nav>
            <ul>
              <% tags.each do |tag| %>
                <li><!--
                  --><%= link_to tag.name, tagged_entry_dreams_path(tag: tag.name) %><!--
                  --><% if tag.description %>
                     <span><%= link_to '?', dreambook_word_path(letter: tag.letter, word: tag.name) %></span><!--
                  --><% end %><!--
                --></li>
              <% end %>
            </ul>
          </nav>
        </div>
    <% end %>
  </header>
  <div>
    <% if local_assigns[:preview] %>
        <%= raw entry.preview %>
        <% if entry.passages_count > 2 %>
            <p class="more"><%= link_to t('read_more'), entry %></p>
        <% end %>
    <% else %>
        <%= raw entry.parsed_body %>
    <% end %>
  </div>
  <footer>
    <%= t('comment', count: entry.comments_count) %>
    <%= render 'layouts/social' unless local_assigns[:preview] %>
  </footer>
</article>

<% unless local_assigns[:preview] %>
    <%= render partial: 'entries/comments', locals: { entry: entry } %>
<% end %>