<% if @articles.any? %>
    <% @articles.each do |article| %>
        <article class="post article">
          <header>
            <div></div>
            <h2><%= link_to article.parsed_title, article %></h2>
            <div class="author">
              <%= user_link article.user %>
              (<time datetime="<%= article.created_at %>"><%= article.created_at.strftime('%d.%m.%Y, %H:%M') %></time>)
            </div>
          </header>
          <div>
            <%= raw article.preview %>
            <% if article.passages_count > 2 %>
            <p class="more"><%= link_to t('read_more'), article %></p>
            <% end %>
          </div>
          <footer><%= article.comments_count %></footer>
        </article>
    <% end %>

    <%= paginate @articles %>
<% else %>
    <div class="message"><%= t('.no_articles') %></div>
<% end %>
