<%= form_tag url_for, method: :get, class: :filter do %>
    <fieldset>
      <legend><%= t(:filter) %></legend>

      <div>
        <div><%= label_tag 'filter_body', t('activerecord.attributes.word.body') %></div>
        <div><%= search_field_tag 'filter[body]', filter[:body], size: 30, results: 5, autosave: 'word_body' %></div>
      </div>

      <%= render partial: 'shared/filter/flag', locals: { title: t('activerecord.attributes.word.processed'), name: 'processed', state: filter[:processed] } %>

      <div class="button"><%= button_tag t(:submit), type: :submit, body: '' %></div>
    </fieldset>
<% end %>
