<% content_for :meta_title, t('.title', body: @entity.body) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.words.nav_item.text'), admin_words_path) %>
  <span><%= @entity.body %></span>
<% end %>

<article>
  <h1><%= @entity.body %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_words_path) %></li>
    <li><%= edit_icon(edit_word_path(id: @entity.id)) %></li>
  </ul>

  <dl>
    <%= render partial: 'shared/entity/timestamps', locals: { entity: @entity } %>
  </dl>
</article>
