<% content_for :meta_title, t('.title', word: @entity.body) %>

<article class="entity-page">
  <h1><%= @entity.body %></h1>
  <ul class="actions">
    <li><%= create_icon new_word_path %></li>
    <li><%= list_icon admin_words_path %></li>
    <% unless @entity.locked? %>
        <li><%= edit_icon edit_word_path(@entity) %></li>
        <li class="danger"><%= destroy_icon @entity %></li>
    <% end %>
  </ul>

  <table>
    <tbody>
    <% if @entity.patterns.any? %>
        <tr>
          <th><%= t('activerecord.attributes.word.patterns') %></th>
          <td><%= render partial: 'admin/patterns/list', locals: { collection: @entity.patterns } %></td>
        </tr>
    <% end %>
    <tr>
      <td colspan="2">
        <%= render partial: 'admin/words/toggleable', locals: { word: @entity } %>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="2">
        <nav>
          <ul>
            <li><%= @entity.dreams_count %></li>
          </ul>
        </nav>
      </td>
    </tr>
    </tfoot>
  </table>
</article>
