<% url = @tag.new_record? ? admin_dream_tags_path : admin_dream_tag_path(@tag) %>

<%= form_for(@tag, url: url) do |f| %>
    <%= render partial: 'shared/errors_list', locals: { entity: @tag } %>

    <div>
      <%= f.label :name %><br />
      <%= f.text_field :name, required: true, size: 80 %>
    </div>
    <div>
      <%= f.label :description %><br />
      <%= f.text_area :description, required: true, cols: 80, rows: 25 %>
    </div>
    <div>
      <%= f.button t(:submit), type: :submit %>
    </div>
<% end %>
