<% content_for :title, t('.title') %>
<% content_for :description, t('.description') %>

<header>
  <h1><%= t('.header') %></h1>
  <nav>
    <ul>
      <li><%= link_to t('titles.tags.index'), admin_dream_tags_path %></li>
      <li><%= link_to t('index.management_links.tags_queue'), admin_queues_tags_path %></li>
      <li><%= link_to t('.view'), admin_dream_tag_path(@tag) %></li>
    </ul>
  </nav>
</header>

<%= render 'form' %>
