<% content_for :meta_title, t('.title') %>

<article>
  <header>
    <h1><%= t('.title') %></h1>
    <nav class="options">
      <ul>
        <li><%= link_to t(:list), admin_dream_tags_path %></li>
        <li><%= link_to t('admin.queues.tags.header'), admin_queues_tags_path %></li>
        <li><%= link_to t(:view), admin_dream_tag_path(@tag) %></li>
      </ul>
    </nav>
  </header>

  <%= render 'form' %>
</article>
