<% content_for :title, t('.title', page: params[:page] || 1) %>

<header>
  <h1><%= t('.header') %></h1>
  <h2><%= t('page', page: params[:page] || 1) %></h2>
  <nav>
    <ul>
      <li><%= link_to t('tags.index.new_tag'), new_admin_dream_tag_path %></li>
    </ul>
  </nav>
</header>

<%= form_tag admin_dream_tags_path, method: :get do %>
    <div>
      <%= label_tag :letter, t('dreambook.letters.select_letter') %>
      <%= text_field_tag :letter, params[:letter].to_s, size: 1, maxlength: 1 %>
      <%= button_tag t('submit'), type: :submit %>
      <%= link_to t('reset'), admin_dream_tags_path %>
    </div>
<% end %>

<% if @tags.any? %>
    <ul>
      <% @tags.each do |tag| %>
      <li><%= link_to tag.name, admin_dream_tag_path(tag) %> (<%= tag.entries_count %>)</li>
      <% end %>
    </ul>

    <%= paginate @tags %>
<% else %>
    <div class="message"><%= t('tags.list.no_tags') %></div>
<% end %>
