<header>
  <h1><%= @title %></h1>
  <nav>
    <ul>
      <li><%= link_to t('.in_dreambook'), dreambook_word_path(letter: @tag.letter, word: @tag.uri_name) %></li>
      <li><%= link_to t('tags.show.list'), admin_dream_tags_path %></li>
      <li><%= link_to t('tags.show.edit'), edit_admin_dream_tag_path(@tag) %></li>
      <li><%= link_to t('tags.show.delete'), admin_dream_tag_path(@tag), method: :delete, data: { confirm: t('are_you_sure') } %></li>
    </ul>
  </nav>
</header>

<article class="entry-tag">
  <header>
    <h2><%= @tag.name %></h2>
  </header>
  <div>
    <%= raw parse_body(@tag.description.to_s, true) %>
  </div>
</article>
