<% content_for :meta_title, t('.title') %>

<article>
  <h1><%= t('.title') %></h1>

  <ul>
    <li>Users: <%= User.count %></li>
    <li>Dreams: <%= Dream.count %></li>
    <li>Comments: <%= Comment.count %></li>
    <li>Goals: <%= Goal.count %></li>
    <li>Deeds: <%= Deed.count %></li>
    <li>Posts: <%= Post.count %></li>
    <li>Fillers: <%= Filler.count %></li>
  </ul>

  <nav>
    <ul>
      <li><%= link_to t('browsers.index.header'), browsers_path %></li>
      <li><%= link_to t('agents.index.header'), agents_path %></li>
      <li><%= link_to t('clients.index.header'), clients_path %></li>
      <li><%= link_to t('codes.index.header'), codes_path %></li>
      <li><%= link_to t('comments.index.header'), comments_path %></li>
      <li><%= link_to t('patterns.index.header'), patterns_path %></li>
      <li><%= link_to t('side_notes.index.header'), side_notes_path %></li>
      <li><%= link_to t('tags.index.header'), tags_path %></li>
      <li><%= link_to t('tokens.index.header'), tokens_path %></li>
      <li><%= link_to t('users.index.header'), users_path %></li>
      <li><%= link_to t('violations.index.header'), violations_path %></li>
      <li><%= link_to t('fillers.index.header'), fillers_path %></li>
    </ul>
  </nav>
</article>
