<% content_for :meta_title, t('.title') %>
<% content_for :options do %>
    <ul>
      <li><%= link_to t('activerecord.attributes.figure.post'), @entity.post %></li>
      <li><%= link_to t(:view), @entity %></li>
      <li><%= link_to_delete @entity %></li>
    </ul>
<% end %>

<article class="edit-figure">
  <h1><%= t('.title') %></h1>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
