<% content_for :title, t('.title', page: params[:page] || 1) %>

<header>
  <h1><%= t('.header') %></h1>
  <h2><%= t('page', page: params[:page] || 1) %></h2>
</header>

<% if @tags.any? %>
    <nav class="dream-symbols">
      <ol start="<%= ((params[:page] || 1).to_i - 1) * 20 + 1 %>">
        <% @tags.each do |tag| %>
            <li><%= link_to tag.name, tagged_entry_dreams_path(tag: tag.name), rel: 'tag' %> (<%= tag.entries_count %>)</li>
        <% end %>
      </ol>
    </nav>

    <%= paginate @tags %>
<% else %>
    <div class="message"><%= t('nothing_found') %></div>
<% end %>

<section>
  <%= render 'layouts/random_dream' %>
  <%= render 'layouts/more' %>
</section>
