<% model_name = entity.class.to_s.underscore %>
<%=
  form_with(
      model: entity,
      html: {
          id: "#{model_name}-form",
          data: { check_url: check_sleep_places_path }
      }
  ) do |f|
%>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
    <dt><%= f.label :name %></dt>
    <dd>
      <%=
        f.text_field(
            :name,
            data: {
                check: :name
            },
            id: "#{model_name}_name",
            maxlength: SleepPlace::NAME_LIMIT,
            required: true,
            size: nil
        )
      %>
      <div class="check-result-error" data-field="name"></div>
      <div class="guideline"><%= t('.guidelines.name') %></div>
    </dd>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= hidden_field_tag :entity_id, entity.id %>
    <%= f.button t(:save), type: :submit, class: 'button-save' %>
  </div>
<% end %>
