<% content_for :meta_title, t('.title', name: @entity.name) %>

<article class="entity-page">
  <h1><%= @entity.name %></h1>
  <ul class="actions">
    <% if Place.owned_by(current_user).count < User::PLACE_LIMIT %>
        <li><%= create_icon new_place_path %></li>
    <% end %>
    <li><%= list_icon my_places_path %></li>
    <li><%= edit_icon edit_place_path(@entity) %></li>
    <li class="danger"><%= destroy_icon @entity %></li>
  </ul>

  <div><%= simple_format @entity.description %></div>

  <nav><%= link_to t(:dream, count: @entity.dreams_count), dreams_my_place_path(@entity) %></nav>
</article>
