<%= content_for :title, t('.title') %>
<%= content_for :description, t('.description') %>

<header>
  <h1><%= t('.header') %></h1>
  <%= render 'management_links' %>
</header>

<% if @languages.any? %>
    <ul>
      <% @languages.each do |language| %>
      <li><%= link_to "#{language.code}: #{language.name} (#{language.translated_name})", language %></li>
      <% end %>
    </ul>
<% else %>
    <%= render 'common/nothing_found' %>
<% end %>
