<article>
  <% if current_user.nil? %>
  <p>Проект «Совия» посвящён снам и сновидениям. Мы уделяем внимание как физиологическим, так и психологическим
    аспектам сна. Основной упор мы делаем на применении полученных знаний на практике.</p>
  <p>Человек проводит во сне не менее трети своей жизни. Это время можно использовать для полноценного отдыха,
    решения различных психологических задач, развлечения и многого другого.</p>
  <p>Наша команда занимается разработкой инструментов для работы со снами. На сайте sovia.ru вы можете воспользоваться
    уникальным дневником снов и сонником. Эти два инструмента взаимосвязаны и позволяют документировать, анализировать
    и интерпретировать свои сны, а также выявлять и отслеживать закономерности в снах.</p>
  <p>Единое информационное пространство позволяет хранить большую базу снов, записанных разными людьми.
    Объединив общие знания, можно проанализировать и расшифровать практически любой сон, даже если кажется,
    что он ничего не значит. Интерпретировать сон можно как самостоятельно, так и общаясь с другими людьми,
    которые могут комментировать сны.</p>
  <p>Дневник может быть как личным (недоступен для других пользователей или посетителей сайта), так и открытым.</p>
  <% end %>
  <p>На данный момент <%= t('.users_count', count: User.count) %>
    <%= t('.described_dreams', count: Entry::Dream.count) %> и
    <%= t('.left_comments', count: Comment.count) %>.</p>
  <p>Каждый день происходит что-то новое,
    <%= current_user ? 'присоединяйтесь' : link_to('присоединяйтесь', new_user_path) %>.</p>
</article>

<%= render 'deed_form' unless current_user.nil? %>
