<section>
  <h1><%= t('.more_links') %></h1>
  <nav>
    <ul>
      <li><%= link_to t('.dreams_archive'), archive_entry_dreams_path %></li>
      <li><%= link_to t('.random_dream'), random_entry_dreams_path %></li>
      <li><%= link_to t('.statistics'), statistics_path %></li>
      <li><%= link_to t('.all_comments'), comments_path %></li>
    </ul>
  </nav>
</section>
