<% content_for :title, t('.title') %>
<% content_for :description, t('.description') %>

<header>
  <h1><%= t('.main') %></h1>
  <%= render 'management_links' %>
</header>

<article>
  <p>Совия — это сайт о снах, где можно вести свой дневник снов, общаться на сответствующие темы,
    а также искать интерпретацию того, что приснилось, в соннике.</p>
  <p><%= t('.our_users_added') %>
    <%= t('.described_dreams', count: Entry::Dream.count) %><%= t('support.array.two_words_connector') %>
    <%= t('.left_comments', count: Comment.count) %>.</p>
  <p>Каждый день происходит что-то новое,
    <%= current_user ? 'присоединяйтесь' : link_to('присоединяйтесь', new_user_path) %>.</p>
</article>


<h1><%= t('.quick_dreambook_access') %></h1>
<%= render 'dreambook/search' %>
<%= render 'dreambook_letters' %>

<%= render 'deed_form' unless current_user.nil? %>

<h1><%= t('.recent_posts') %></h1>

<%= render 'entries/list' %>

<% if @posts.any? %>
    <% @posts.each do |entry| %>
        <article class="entry post">
          <header>
            <figure><%= raw entry_avatar(entry.user) %></figure>
            <h2><%= link_to entry.title, entry %></h2>

            <div class="author">
              <%= user_link entry.user %>
              <time datetime="<%= entry.created_at.w3c %>"><%= entry.created_at.strftime('%d.%m.%Y, %H:%M') %></time>
            </div>

          </header>
          <div>
            <% if entry.image.url %>
                <div class="image"><%= image_tag entry.image.lead, alt: entry.title %></div>
            <% end %>
            <p><%= entry.preview %></p>
            <p class="more"><%= link_to t(:read_more), entry %></p>
          </div>
          <footer>
            <div class="permalink"><%= link_to t(:link), entry %></div>
            <div class="comments-count"><%= t('comment', count: entry.comments_count) %></div>
          </footer>
        </article>
    <% end %>

    <%= paginate @posts if @posts.respond_to? :current_page %>
<% else %>
    <%= render 'common/nothing_found' %>
<% end %>

<%= render 'layouts/social' %>

<section>
  <%= render 'layouts/statistics' %>
  <%= render 'recent_tags' %>
  <%= render 'layouts/random_dream' %>
  <%= render 'layouts/more' %>
</section>

<%= render 'common/metrics' %>
