<% content_for :meta_title, t('.title') %>
<% content_for :meta_description, t('.description') %>
<% content_for :sidebar do %>
    <%= render 'sidebar/side_note' %>
<% end %>

<%= render 'shared/metrics' %>

<article class="front-page">
  <h1><%= t('.title') %></h1>

  <p>Совия — это сайт о снах, где можно вести свой дневник снов, общаться на сответствующие темы,
    а также искать интерпретацию того, что приснилось, в соннике.</p>

  <%= render 'dreambook/search' %>

  <%= render 'recent' %>

  <%= render 'shared/social' %>
</article>
