<header>
  <h1><%= t('.main') %></h1>
  <%= render 'management_links' %>
</header>

<%= render 'greeting' %>

<h1><%= t('.recent_posts') %></h1>

<%= render 'entries/list' %>

<footer>
  <%= render 'layouts/social' %>
</footer>
