<% content_for :title, t('.title') %>
<% content_for :description, t('.description') %>

<header>
  <h1><%= t('.main') %></h1>
  <%= render 'management_links' %>
</header>

<%= I18n.available_locales %>
<%= render 'greeting' %>

<h1><%= t('.quick_dreambook_access') %></h1>
<%= render 'dreambook/search' %>
<%= render 'dreambook_letters' %>

<h1><%= t('.recent_posts') %></h1>

<%= render 'entries/list' %>

<%= render 'layouts/social' %>

<section>
  <%= render 'layouts/statistics' %>
  <%= render 'recent_tags' %>
  <%= render 'layouts/random_dream' %>
  <%= render 'layouts/more' %>
</section>

<%= render 'common/metrics' %>
