<% content_for :title, t('.title') %>
<% content_for :description, t('.description') %>

<header>
  <h1><%= t('.main') %></h1>
  <%= render 'management_links' %>
</header>

<article>
  <p>Совия — это сайт о снах, где можно вести свой дневник снов, общаться на сответствующие темы,
    а также искать интерпретацию того, что приснилось, в соннике.</p>
  <p>На данный момент <%= t('.users_count', count: User.count) %>
    <%= t('.described_dreams', count: Entry::Dream.count) %> и
    <%= t('.left_comments', count: Comment.count) %>.</p>
  <p>Каждый день происходит что-то новое,
    <%= current_user ? 'присоединяйтесь' : link_to('присоединяйтесь', new_user_path) %>.</p>
</article>


<h1><%= t('.quick_dreambook_access') %></h1>
<%= render 'dreambook/search' %>
<%= render 'dreambook_letters' %>

<%= render 'deed_form' unless current_user.nil? %>

<h1><%= t('.recent_posts') %></h1>

<%= render 'entries/list' %>

<%= render 'layouts/social' %>

<section>
  <%= render 'layouts/statistics' %>
  <%= render 'recent_tags' %>
  <%= render 'layouts/random_dream' %>
  <%= render 'layouts/more' %>
</section>

<%= render 'common/metrics' %>
