<% content_for :meta_title, t('.title') %>
<% content_for :meta_description, t('.description') %>
<%= render 'shared/metrics' %>

<%= render 'management_links' %>
<article class="front-page">
  <section>
    <h1><%= t('.title') %></h1>

    <p>Совия — это сайт о снах, где можно вести свой дневник снов, общаться на сответствующие темы,
      а также искать интерпретацию того, что приснилось, в соннике.</p>

    <p>Каждый день происходит что-то новое,
      <%= current_user ? 'присоединяйтесь' : link_to('присоединяйтесь', new_user_path) %>.</p>
  </section>

  <section>
    <h1><%= t('.quick_dreambook_access') %></h1>
    <%= render 'dreambook/search' %>
    <%= render 'dreambook_letters' %>
  </section>

  <%= render 'deed_form' unless current_user.nil? %>

  <section>
    <h1><%= t('.recent_posts') %></h1>

    <section>
      <h1><%= t('.recent_in_posts') %></h1>
      <%= render partial: 'posts/list', locals: { posts: @posts } %>
    </section>

    <section>
      <h1><%= t('.recent_in_dreams') %></h1>
      <% if @entries.any? %>
          <% @entries.each do |entry| %>
              <div class="post-preview">
                <div class="header">
                  <div class="image"><%= raw comment_avatar(entry.user) %></div>
                  <div class="title"><%= link_to entry.parsed_title, verbose_entry_path(entry) %></div>
                  <span class="author"><%= user_link entry.user %></span>
                  <time datetime="<%= entry.datetime %>"><%= entry.created_at.strftime('%d.%m.%Y, %H:%M') %></time>
                </div>
                <div class="body"><%= raw parse_body(entry.glimpse 20) %></div>
              </div>
          <% end %>
      <% else %>
          <%= render 'shared/nothing_found' %>
      <% end %>
    </section>

    <div style="clear:both"></div>
  </section>

  <%= render 'shared/social' %>
</article>

<% content_for :sidebar do %>
    <%= render 'sidebar/statistics' %>
    <%= render 'sidebar/random_dream' %>
    <%= render 'sidebar/more_links' %>
<% end %>
