<% content_for :title, t('.title') %>
<% content_for :description, t('.description') %>

<header>
  <h1><%= t('.header') %></h1>
</header>

<article class="recovery">
  <h2><%= t('.got_code') %></h2>
  <%= form_tag my_recovery_path, method: :patch do %>
      <div>
        <%= label_tag :code, t('.code') %>
        <%= text_field_tag :code, params[:code], required: true, size: 25 %>
      </div>
      <div>
        <%= label_tag :user_password, t('activerecord.attributes.user.password') %>
        <%= password_field_tag 'user[password]', '', required: true, size: 25 %>
      </div>
      <div>
        <%= label_tag :user_password_confirmation, t('activerecord.attributes.user.password_confirmation') %>
        <%= password_field_tag 'user[password_confirmation]', '', required: true, size: 25 %>
      </div>
      <div>
        <%= button_tag t('.update_password'), type: :submit %>
      </div>
  <% end %>
</article>

<article class="recovery">
  <h2><%= t('.no_code') %></h2>
  <%= form_tag my_recovery_path, method: :post do %>
      <div>
        <%= label_tag :email, t('activerecord.attributes.user.email') %>
        <%= text_field_tag :email, params[:email], required: true, size: 40 %>
      </div>
      <div>
        <%= button_tag t('.send_code'), type: :submit %>
      </div>
  <% end %>
</article>

<%= render 'common/metrics' %>
