<article class="user">
  <h1><%= user.long_slug %></h1>
  <% if user.deleted? %>
      <div class="alert"><%= t('activerecord.attributes.user.deleted') %></div>
  <% end %>

  <table>
    <tbody>
    <tr>
      <td colspan="2">
        <figure>
          <%= profile_avatar user %>
        </figure>
      </td>
    </tr>
    <tr>
      <th><%= t('activerecord.attributes.user.slug') %></th>
      <td><%= user.slug %></td>
    </tr>
    <tr>
      <th><%= t('activerecord.attributes.user.screen_name') %></th>
      <td><%= user_link user %></td>
    </tr>
    <tr>
      <th><%= t('activerecord.attributes.user.name') %></th>
      <td><%= user.name %></td>
    </tr>
    <% unless user.email.blank? %>
        <tr>
          <th><%= t('activerecord.attributes.user.email') %></th>
          <td><%= link_to user.email, "mailto:#{user.email}" %></td>
        </tr>
    <% end %>
    <tr>
      <th><%= t('activerecord.attributes.user.gender') %></th>
      <td><%= user.gender.blank? ? t(:not_selected) : t("activerecord.attributes.user.genders.#{user.gender}") %></td>
    </tr>
    <% unless user.ip.blank? %>
        <tr>
          <th><%= t('activerecord.attributes.user.ip') %></th>
          <td><%= user.ip %></td>
        </tr>
    <% end %>
    <tr>
      <th><%= t(:created_at) %></th>
      <td><%= time_tag user.created_at %></td>
    </tr>
    <tr>
      <th><%= t(:updated_at) %></th>
      <td><%= time_tag user.updated_at %></td>
    </tr>
    <% unless user.last_seen.blank? %>
        <tr>
          <th><%= t('activerecord.attributes.user.last_seen') %></th>
          <td><%= time_tag user.last_seen %></td>
        </tr>
    <% end %>
    <tr>
      <th><%= t('users.form.roles') %></th>
      <td><%= user_roles(user).join(', ') %></td>
    </tr>
    </tbody>
    <% unless user.deleted? %>
        <tfoot>
        <tr>
          <td colspan="2">
            <%= render partial: 'admin/users/toggleable', locals: { user: user } %>
          </td>
        </tr>
        </tfoot>
    <% end %>
  </table>
</article>
