<% content_for :title, t('.title', user: @user.login, page: params[:page] || 1) %>
<% content_for :description, t('.description', user: @user.login, page: params[:page] || 1) %>

<h1><%= t('.header', user: @user.login) %></h1>
<h2><%= t('page', page: params[:page] || 1) %></h2>

<% if @comments.any? %>

    <ul class="comments">
      <% @comments.each do |comment| %>
          <li>
            <% if comment.commentable.visible_to? current_user %>
                <div>
                  <figure>
                    <%= comment_avatar(comment.user) %>
                    <figcaption><%= user_link(comment.user) %> <%= t('comments.index.for') %> <%= link_to comment.commentable.parsed_title, verbose_entry_path(comment.commentable) %></figcaption>
                  </figure>

                  <time datetime="<%= comment.datetime %>"><%= comment.created_at.strftime('%d.%m.%Y, %H:%M') %></time>
                </div>

                <div>
                  <%= raw parse_body(comment.body, false, true) %>
                </div>
            <% else %>
                [<%= t(:hidden) %>]
            <% end %>
          </li>
      <% end %>
    </ul>
    <%= paginate @comments %>
<% else %>
    <div class="message"><%= t('nothing_found') %></div>
<% end %>

<section></section>

<%= render 'common/metrics' %>
