<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div class="errors">
          <h2><%= pluralize(@user.errors.count, 'error') %>:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div>
      <%= f.label :login %>
      <%= f.text_field :login, required: true %>
    </div>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password, required: true %>
    </div>
    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, required: true %>
    </div>
    <div>
      <%= f.button t('.register'), type: 'submit' %>
    </div>
<% end %>
