<% content_for :meta_title, t('.title', user: @user.profile_name, page: current_page) %>
<%= render 'shared/metrics' %>

<article class="posts">
  <h1><%= t('.header', user: @user.profile_name) %></h1>

  <%= paginate @posts %>
  <%= render partial: 'posts/list', locals: { posts: @posts } %>
  <%= paginate @posts %>
</article>
