<% content_for :meta_title, @user.profile_name %>
<% content_for :meta_description, t('.description', user: @user.profile_name) %>
<% content_for :meta_image, (request.protocol + request.host_with_port + @user.image.url) if @user.image.url %>
<% content_for :sidebar do %>
    <% if current_user_has_role? :administrator %>
        <div>
          <nav class="options">
            <ul>
              <li><%= link_to t(:edit), edit_user_path(@user) %></li>
            </ul>
          </nav>
        </div>
    <% end %>
    <% if current_user == @user %>
        <div>
          <p><%= t('.it_is_you') %></p>
          <p><%= link_to t(:edit), edit_my_profile_path %></p>
        </div>
    <% end %>
<% end %>

<article class="user-profile">
  <h1><%= @user.profile_name %></h1>
  <figure>
    <%= raw profile_avatar(@user) %>
    <figcaption><%= @user.profile_name %></figcaption>
  </figure>

  <table>
    <caption><%= t('.user_info') %></caption>
    <tbody>
    <tr>
      <th><%= t('.registration_date') %></th>
      <td>
        <time datetime="<%= @user.created_at.w3c %>"><%= @user.created_at.strftime('%d.%m.%Y') %></time>
      </td>
    </tr>
    <tr>
      <th><%= t('.dream_count') %></th>
      <td><%= link_to @user.dreams_count, user_dreams_path(uid: @user.long_uid), title: t('.read_dreams') %></td>
    </tr>
    <tr>
      <th><%= t('.post_count') %></th>
      <td><%= link_to @user.posts_count, user_posts_path(uid: @user.long_uid), title: t('.read_posts') %></td>
    </tr>
    <tr>
      <th><%= t('.question_count') %></th>
      <td><%= link_to @user.questions_count, user_questions_path(uid: @user.long_uid), title: t('.read_questions') %></td>
    </tr>
    <tr>
      <th><%= t('.comment_count') %></th>
      <td><%= @user.comments_count %></td>
    </tr>
    </tbody>
  </table>

  <% if current_user_has_role? :administrator %>
      <p><%= link_to t('.read_comments'), user_comments_path(uid: @user.long_uid) %></p>

      <p><%= link_to t('.read_patterns'), user_patterns_path(uid: @user.long_uid) %></p>
  <% end %>
</article>

<%= render 'shared/track_data', item: @user %>
