<header>
  <h1><%= @title %></h1>
</header>

<%= form_tag code_users_path do %>
    <div>
      <%= label_tag :email, t('.email') %>
      <%= email_field_tag :email, params[:email], required: true %>
    </div>
    <div>
      <%= label_tag :code, t('.code') %>
      <%= text_field_tag :code, params[:code], required: true %>
    </div>
    <div>
      <%= label_tag :user_password, t('.password') %>
      <%= password_field_tag 'user[password]', '', required: true %>
    </div>
    <div>
      <%= label_tag :user_password_confirmation, t('.password_confirmation') %>
      <%= password_field_tag 'user[password_confirmation]', '', required: true %>
    </div>
    <div>
      <%= button_tag t('submit'), type: :submit %>
    </div>
<% end %>