<div class="data">
  <div><%= link_to token.user.profile_name, admin_token_path(token), class: "profile #{token.user.network}" %></div>
  <div class="secondary info">
    <div><%= time_tag token.created_at %>/<%= time_tag token.updated_at %></div>
    <% unless token.last_used.nil? %>
        <div><%= t('activerecord.attributes.token.last_used') %> <%= time_tag token.last_used %></div>
    <% end %>
  </div>
  <% unless token.agent.blank? %>
      <div class="truncate info"><%= link_to token.agent.name, admin_agent_path(token.agent) %></div>
  <% end %>
  <%= render partial: 'admin/tokens/toggleable', locals: { token: token } %>

  <ul class="actions">
    <li><%= edit_icon edit_token_path(token) %></li>
  </ul>
</div>
