<%= form_for @answer do |f| %>
    <%= render partial: 'shared/errors_list', locals: { entity: @answer } %>

    <div>
      <% unless @answer.id %>
        <%= f.hidden_field :question_id %>
      <% end %>
      <div><%= f.label :body %></div>
      <%= f.text_area :body, cols: 80, rows: 10, required: true %>
    </div>

    <div><%= f.button t(:submit), type: :submit %></div>
<% end %>