<% content_for :meta_title, t('.title', page: current_page) %>

<section>
  <h1><%= t('.header') %></h1>

  <h2><%= t(:page, page: current_page) %></h2>

  <% if @members.any? %>
      <ul class="violators">
        <% @members.each do |violator| %>
            <li>
              <span><%= violator.ip %></span>
              <time datetime="<%= violator.created_at.w3c %>"><%= violator.created_at.microformat_minutes %></time>
              <span class="agent"><%= violator.agent_name %></span>
            </li>
        <% end %>
      </ul>

      <%= paginate @members %>
  <% else %>
      <%= render 'shared/nothing_found' %>
  <% end %>
</section>