<section>
  <h1><%= t('.header') %></h1>

  <%= form_tag login_path do %>
      <div>
        <%= label_tag :login, t('authentications.form.login') %>
        <%= text_field_tag :login, '', autofocus: true, required: true, size: 18 %>
      </div>
      <div>
        <%= label_tag :password, t('activerecord.attributes.user.password') %>
        <%= password_field_tag :password, '', required: true, size: 18 %>
      </div>
      <div>
        <%= button_tag t('.enter'), type: :submit %>
      </div>
  <% end %>
</section>
