<%= form_for(@agent) do |f| %>
    <%= render partial: 'common/errors_list', locals: { entity: @agent } %>

    <div><%= @agent.name %></div>
    <div>
      <%= f.check_box :is_bot %>
      <%= f.label :is_bot %>
    </div>
    <div>
      <%= f.button t('submit'), type: 'submit' %>
    </div>
<% end %>
