<% content_for :meta_title, t('.title', page: current_page) %>

<article>
  <header>
    <h1><%= t('.header') %></h1>

    <h2><%= render 'shared/page' %></h2>
  </header>

  <% if @agents.any? %>
      <ol start="<%= (current_page.to_i - 1) * 20 + 1 %>" class="agents">
        <% @agents.each do |agent| %>
            <li <%= raw 'class="bot"' if agent.is_bot? %>><%= link_to agent.name, agent_path(agent) %></li>
        <% end %>
      </ol>

      <%= paginate @agents %>
  <% else %>
      <%= render 'shared/nothing_found' %>
  <% end %>
</article>
