<% content_for :title, t('.title', page: params[:page] || 1) %>
<% content_for :description, t('.description', page: params[:page] || 1) %>

<article>
  <header>
    <h1><%= t('.header') %></h1>

    <h2><%= t(:page, page: params[:page] || 1) %></h2>
  </header>

  <% if @agents.any? %>
      <ol start="<%= ((params[:page] || 1).to_i - 1) * 20 + 1 %>" class="agents">
        <% @agents.each do |agent| %>
            <li <%= raw 'class="bot"' if agent.is_bot? %>><%= link_to agent.name, agent_path(agent) %></li>
        <% end %>
      </ol>

      <%= paginate @agents %>
  <% else %>
      <%= render 'common/nothing_found' %>
  <% end %>
</article>
