<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :options do %>
    <ul>
      <li><%= link_to t(:list), admin_agents_path %></li>
      <li><%= link_to t(:edit), edit_agent_path(@entity) %></li>
      <li><%= link_to t(:create), new_agent_path %></li>
      <li><%= link_to_delete @entity %></li>
    </ul>
<% end %>

<%= render @entity %>
