<% content_for :title, t('.title', name: @agent.name) %>
<% content_for :description, t('.description', name: @agent.name) %>

<article>
  <header>
    <h1><%= @agent.name %></h1>
    <% if @agent.is_bot? %>
    <h2><%= t('activerecord.attributes.agent.is_bot') %></h2>
    <% end %>
    <nav>
      <ul>
        <li><%= link_to t(:list), agents_path %></li>
        <li><%= link_to t(:edit), edit_agent_path(@agent) %></li>
      </ul>
    </nav>
  </header>

  <%= render @agent %>
</article>