<section>
  <h2><%= t('.header') %></h2>

  <%= form_tag login_path do %>
      <div>
        <%= label_tag :login, t('activerecord.attributes.user.screen_name') %>
        <%= text_field_tag :login, '', autofocus: true, required: true, size: 20 %>
      </div>
      <div>
        <%= label_tag :password, t('activerecord.attributes.user.password') %>
        <%= password_field_tag :password, '', required: true, size: 20 %>
      </div>
      <div>
        <%= button_tag t('authentication.form.sign_in'), type: :submit %>
      </div>
  <% end %>
</section>
