<section>
  <h2><%= t('.header') %></h2>

  <p><%= t('.if_you_are_not_member') %> <%= link_to t('.join'), new_my_profile_path %>.</p>
  <p><%= t('.if_you_cannot_sign_in') %> <%= link_to t('.reset_password'), my_recovery_path %>.</p>
</section>
