<%= render partial: 'shared/errors_list', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <div>
      <%= f.label :essence, 'Я' %>
      <%= f.text_field :essence, size: 50, required: true %>
    </div>
    <div>
      <%= f.label :goal_id, 'Чтобы' %>
      <%= f.select :goal_id, goals_for_select(current_user, entity.id.nil?) %>
    </div>

    <div>
      <%= f.button t(:submit), type: :submit %>
    </div>
<% end %>
