<% content_for :title, t('.title', deed: @deed.name) %>

<header>
  <h1><%= t('.header') %></h1>
</header>

<% adjacent = [@deed.previous_entry, @deed.next_entry] %>
<% unless adjacent[0].nil? && adjacent[1].nil? %>
    <nav class="adjacent-entries">
      <ul aria-label="<%= t('.adjacent') %>">
        <% unless adjacent[0].nil? %>
            <li class="previous"><%= link_to t('.previous'), deed_path(adjacent[0]), rel: 'prev' %></li>
        <% end %>
        <% unless adjacent[1].nil? %>
            <li class="next"><%= link_to t('.next'), deed_path(adjacent[1]), rel: 'next' %></li>
        <% end %>
      </ul>
    </nav>
<% end %>

<p>
  <time datetime="<%= @deed.created_at %>"><%= @deed.created_at.strftime('%d.%m.%Y') %></time>
  <%= @deed.name %>
</p>
<nav>
  <ul>
    <li><%= link_to t('edit'), edit_deed_path(@deed) %></li>
    <li><%= link_to t('delete'), deed_path(@deed), method: :delete, data: { confirm: t('are_you_sure') }  %></li>
  </ul>
</nav>
