<% content_for :meta_title, t('.title') %>

<article class="authentication">
  <div class="content-wrapper">
    <section class="native">
      <h1><%= t('.title') %></h1>

      <%= render 'form' %>


      <p><%= link_to t('my.recoveries.show.title'), my_recovery_path, class: 'button-nav' %></p>
    </section>

    <section class="social">
      <h2><%= t('.social') %></h2>

      <ul>
        <% %w[facebook vkontakte twitter].each do |slug| %>
          <li>
            <%=
              link_to(
                  image_tag("icons/social/#{slug}.svg", alt: slug),
                  "/auth/#{slug}",
                  method: :post
              )
            %>
          </li>
        <% end %>
      </ul>
    </section>
  </div>
</article>
