<article class="browser">
  <h1><%= browser.name %></h1>

  <table>
    <tbody>
    <tr>
      <th><%= t(:created_at) %></th>
      <td><%= time_tag browser.created_at %></td>
    </tr>
    <tr>
      <th><%= t(:updated_at) %></th>
      <td><%= time_tag browser.updated_at %></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= render partial: 'admin/browsers/toggleable', locals: { browser: browser } %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= link_to t(:agent, count: browser.agents_count), agents_browser_path(browser) %>
      </td>
    </tr>
    </tbody>
  </table>
</article>
