<% content_for :meta_title, t('.title', name: @entity.name, page: current_page) %>
<% content_for :options do %>
    <ul>
      <li><%= link_to t(:view), @entity %></li>
      <li><%= link_to t(:list), admin_browsers_path %></li>
    </ul>
<% end %>

<article class="browser">
  <h1><%= @entity.name %></h1>

  <section id="browser-agents">
    <h2><%= t('.heading') %></h2>

    <%= paginate @collection %>
    <%= render partial: 'admin/agents/list', locals: { collection: @collection } %>
    <%= paginate @collection %>
  </section>

  <%= render partial: 'browsers/agents/add', locals: { browser: @entity } %>
</article>