<%=
  form_with(
      url: url_for,
      scope: :filter,
      local: true,
      method: :get,
      html: {
          class: 'filter-form'
      }
  ) do |f|
%>
  <fieldset>
    <legend><%= t(:filter) %></legend>
    <div class="fields">
      <fieldset>
        <legend><%= t('activerecord.attributes.pending_pattern.processed') %></legend>
        <div>
          <%= f.radio_button :processed, '', checked: filter[:processed].to_s == '' %>
          <%= f.label :processed_, t(:not_set) %>
        </div>
        <div>
          <%= f.radio_button :processed, '1', checked: filter[:processed].to_s == '1' %>
          <%= f.label :processed_1, t(:yes) %>
        </div>
        <div>
          <%= f.radio_button :processed, '0', checked: filter[:processed].to_s == '0' %>
          <%= f.label :processed_0, t(:no) %>
        </div>
      </fieldset>

      <div class="field">
        <%= f.label :name, t('activerecord.attributes.pending_pattern.name') %>
        <%= f.text_field :name, value: filter[:name] %>
      </div>
    </div>
    <div class="buttons">
      <%= f.button t(:submit), type: :submit %>
    </div>
  </fieldset>
<% end %>
