<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <span><%= t('admin.pending_patterns.nav_item.text') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>
  <ul class="actions">
    <li><%= back_icon(admin_path) %></li>
  </ul>

  <%= render(partial: 'admin/pending_patterns/filter', locals: { filter: @filter }) %>

  <%= paginate @collection %>
  <%=
    render(
        partial: 'shared/admin/list',
        locals: {
            collection: @collection
        }
    )
  %>
  <%= paginate @collection %>

  <section>
    <h2><%= t('.enqueue') %></h2>

    <div class="js-pattern-queue-container" data-url="<%= enqueue_admin_pending_patterns_path %>">
      <%=
        text_area_tag(
            :list, '',
            id: nil,
            rows: 1,
            class: 'auto-expand',
            data: {
                min_rows: 1,
                max_rows: 50
            }
        )
      %>
      <div>
        <%= button_tag(t(:submit), type: :button, class: 'button-save') %>
      </div>
    </div>
  </section>
</article>
