<%= render partial: 'shared/errors_list', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <% unless entity.image.blank? %>
        <figure class="side-note">
          <%= image_tag(entity.image.medium.url) %>
          <figcaption><%= t(:current_image) %></figcaption>
        </figure>
    <% end %>
    <div>
      <%= f.label :image %>
      <%= f.file_field :image, accept: 'image/jpeg, image/png' %>
    </div>
    <div>
      <div><%= f.label :title %></div>
      <%= f.text_field :title, size: 80, required: true %>
    </div>
    <div>
      <div><%= f.label :link %></div>
      <%= f.text_field :link, size: 80, required: true %>
    </div>
    <div>
      <div><%= f.label :body %></div>
      <%= f.text_area :body, cols: 80, rows: 20 %>
    </div>

    <% if current_user_has_role? :administrator %>
        <div>
          <%= f.check_box :active %>
          <%= f.label :active %>
        </div>
    <% end %>

    <div>
      <%= f.button t(:submit), type: :submit %>
    </div>
<% end %>
