<div class="data">
  <div><cite><%= link_to question.title, admin_question_path(question) %></cite></div>
  <div class="info">
    <%= user_link question.user %>,
    <%= time_tag question.created_at %>,
    <%= link_to t(:comment, count: question.comments_count), comments_admin_question_path(question) %>
  </div>

  <ul class="actions">
    <li class="toggleable <%= question.editable_by?(current_user) ? '' : 'hidden' %>">
      <%= edit_icon edit_question_path(question) %>
    </li>
    <%= render partial: 'shared/actions/locks', locals: { path: current_user_has_role?(:chief_editor) ? lock_api_question_path(question) : '', entity: question } %>
  </ul>
</div>
