<div class="image">
  <%= profile_avatar dream.user %>
</div>
<div class="data">
  <div><cite><%= admin_dream_link(dream) %></cite></div>
  <div class="info">
    <%= user_link dream.user %>,
    <%= time_tag dream.created_at %>,
    <%= link_to t(:comment, count: dream.comments_count), comments_admin_dream_path(dream) %>
  </div>
  <div class="secondary info"><%= glimpse prepare_dream_text(dream, current_user) %></div>

  <%= render partial: 'admin/dreams/toggleable', locals: { dream: dream } %>

  <% if dream.editable_by? current_user %>
      <ul class="actions">
        <li><%= edit_icon edit_dream_path(dream) %></li>
      </ul>
  <% end %>
</div>
