<% content_for :title, t('.title', page: params[:page] || 1) %>
<% content_for :description, t('.description', page: params[:page] || 1) %>

<header>
  <h1><%= t('.header') %></h1>
  <h2><%= t('page', page: params[:page] || 1) %></h2>
  <nav>
    <ul>
      <li><%= link_to t('.about'), deeds_path %></li>
    </ul>
  </nav>
</header>

<div>
  <h2><%= t('.create') %></h2>
  <%= render 'deeds/form' %>
</div>

<% if @deeds.any? %>
    <ul class="deeds">
      <% @deeds.each do |deed| %>
      <li>
        <time datetime="<%= deed.created_at.w3c %>"><%= deed.created_at.strftime('%d.%m.%Y') %></time>
        <%= deed.name %>
        <%= link_to '*', deed_path(deed) %>
      </li>
      <% end %>
    </ul>

    <%= paginate @deeds %>
<% else %>
    <div class="message"><%= t('.empty') %></div>
<% end %>

<%= render 'common/metrics' %>
