<% if visitor_has_role? :dreambook_editor %>
    <%= form_tag patterns_path, method: :get do %>
        <fieldset class="filters">
          <legend><%= t(:filters) %></legend>

          <div>
            <%= check_box_tag 'filters[oi]', 1, @filter[:order_id] %>
            <%= label_tag 'filters_oi', t('.order_by_id') %>
          </div>
          <div>
            <%= check_box_tag 'filters[od]', 1, @filter[:order_dreams] %>
            <%= label_tag 'filters_od', t('.order_by_dream_count') %>
          </div>
          <div>
            <%= check_box_tag 'filters[hide]', 1, @filter[:hide] %>
            <%= label_tag 'filters_hide', t('.hide_described') %>
          </div>
          <div>
            <%= label_tag 'filters_name', t('activerecord.attributes.pattern.name') %>
            <%= text_field_tag 'filters[name]', @filter[:name] %>
          </div>
          <div>
            <%= button_tag t('.filter'), type: :submit, name: nil %>
          </div>

        </fieldset>
    <% end %>
<% end %>