<%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <table>
      <tbody>
      <tr>
        <td colspan="2">
          <figure class="preview" id="pattern-image">
            <% if entity.image.blank? %>
                <%= image_tag 'image-placeholder.png' %>
            <% else %>
                <%= image_tag entity.image.big.url, alt: t(:current_image) %>
            <% end %>
            <figcaption>
              <%= f.label :image %>
              <%= f.file_field :image, accept: 'image/jpeg,image/png', data: { image: 'pattern-image' } %>
            </figcaption>
          </figure>
        </td>
      </tr>
      <tr>
        <th><%= f.label :name %></th>
        <td><%= f.text_field :name, required: true %></td>
      </tr>
      <tr>
        <th><%= label_tag :words_string, t('activerecord.attributes.pattern.words') %></th>
        <td><%= text_field_tag :words_string, entity.words_string %></td>
      </tr>
      <tr>
        <th><%= f.label :essence %></th>
        <td><%= f.text_field :essence %></td>
      </tr>
      <tr>
        <th><%= f.label :description %></th>
        <td><%= f.text_area :description, cols: 50, rows: 10 %></td>
      </tr>
      <tr>
        <td colspan="2" class="flags">
          <ul>
            <li><%= f.check_box :described %> <%= f.label :described %></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= f.button t(:save), type: :submit %>
        </td>
      </tr>
      </tbody>
    </table>
<% end %>
