<% model_name = entity.class.to_s.underscore %>
<%=
  form_with(
      model: entity,
      html: {
          autocomplete: :off,
          data: { check_url: check_patterns_path },
          id: "#{model_name}-form"
      }
  ) do |f|
%>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
    <div>
      <dt><%= f.label :name %></dt>
      <dd>
        <%=
          f.text_field(
              :name,
              data: {
                  check: :name
              },
              id: "#{model_name}_name",
              maxlength: Pattern::NAME_LIMIT,
              size: nil,
              required: true
          )
        %>
        <div class="check-result-error" data-field="name"></div>
        <div class="guideline"><%= t('.guidelines.name') %></div>
      </dd>
    </div>

    <div>
      <dt><%= f.label :summary %></dt>
      <dd>
        <%=
          f.text_field(
              :summary,
              data: {
                  check: :summary
              },
              id: "#{model_name}_summary",
              maxlength: Pattern::SUMMARY_LIMIT,
              size: nil
          )
        %>
        <div class="check-result-error" data-field="summary"></div>
        <div class="guideline"><%= t('.guidelines.summary') %></div>
      </dd>
    </div>

    <div>
      <dt><%= f.label :description %></dt>
      <dd>
        <%=
          f.text_area(
              :description,
              class: 'auto-expand',
              cols: 80,
              data: {
                  check: :description,
                  min_rows: 3,
                  max_rows: 40
              },
              id: "#{model_name}_description",
              maxlength: Pattern::DESCRIPTION_LIMIT,
              rows: 3
          )
        %>
        <div class="check-result-error" data-field="description"></div>
        <div class="guideline"><%= t('.guidelines.description') %></div>
      </dd>
    </div>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= hidden_field_tag :entity_id, entity.id %>
    <%= f.button t(:save), class: 'button-save' %>
  </div>
<% end %>
