<article class="pattern">
  <h1><%= pattern.name %></h1>

  <section class="body">
    <% if pattern.image.url %>
        <figure>
          <%= link_to image_tag(pattern.image.post.url, alt: pattern.name), pattern.image.url %>
        </figure>
    <% end %>

    <%= raw parse_body(pattern.body) %>
  </section>

  <section>
    <h1><%= t(:dream, count: pattern.dream_count) %> <%= t('.with_this_pattern') %></h1>
    <p><%= link_to t('dreams.new.title'), new_entry_dream_path %></p>
  </section>
</article>