<article class="pattern">
  <h1><%= pattern.name %></h1>

  <div class="description">
    <% if pattern.image.url %>
    <div class="image"><%= image_tag pattern.image.url, alt: pattern.name %></div>
    <% end %>
    <%= raw prepare_pattern_text(pattern) %>
    <% pattern.links.each do |category, links| %>
        <% if links.any? %>
            <p>
              <%= t("activerecord.attributes.pattern_link.categories.#{category}") %>
              <% links.each do |another_pattern| %>
                  <%= link_to another_pattern.name, another_pattern %>
              <% end %>
            </p>
        <% end %>
    <% end %>
  </div>

  <div class="footer">
    <p><%= t('activerecord.attributes.pattern.user_id') %>: <%= user_link pattern.user %></p>
    <p><%= "#{t(:created_at)}: #{pattern.created_at.pubdate}" %></p>
    <p><%= "#{t(:updated_at)}: #{pattern.updated_at.pubdate}" %></p>
    <p><%= "#{t('activerecord.attributes.pattern.dream_count')}: #{pattern.dream_count}" %></p>
    <p><%= link_to t('dreambook.word.read_dreams'), tagged_dreams_path(tag_name: Canonizer.urlize(pattern.name)) %></p>
  </div>
  <%= render partial: 'shared/track_data', locals: { item: pattern } %>
  <%= render partial: 'comments/list', locals: { commentable: pattern, comments: pattern.comments } %>
</article>
