<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.patterns.nav_item.text'), admin_patterns_path) %>
  <%= admin_dreambook_entry_link(@entity) %>
  <span><%= t('.nav_text') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
