<% content_for :meta_title, t('.title') %>
<%= render 'shared/metrics' %>

<nav class="options">
  <ul>
    <li><%= link_to t(:view), @pattern %></li>
    <li><%= link_to t(:create), new_pattern_path %></li>
    <li><%= link_to t(:list), patterns_path %></li>
    <% if visitor_has_role? :dreambook_manager %>
        <li><%= link_to t(:delete), @patter, method: delete, data: { confirm: t(:are_you_sure) } %></li>
    <% end %>
  </ul>
</nav>

<section>
  <h1><%= t('.title') %></h1>

  <% if @pattern.image.url %>
      <figure>
        <%= image_tag @pattern.image.post.url, alt: @pattern.name %>
      </figure>
  <% end %>

  <%= render 'form' %>
</section>