<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :sidebar do %>
    <div class="options">
      <ul>
        <li><%= link_to t(:create), new_pattern_path %></li>
        <% if params[:queue] %>
            <li><%= link_to t(:list), patterns_path %></li>
        <% else %>
            <li><%= link_to t(:queue), patterns_path(queue: 1) %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<article class="patterns">
  <h1><%= t('.header') %></h1>

  <div><%= Pattern.locked.count %> / <%= Pattern.count %></div>

  <%= paginate @collection %>
  <%= render partial: 'list', locals: { patterns: @collection } %>
  <%= paginate @collection %>
</article>
