<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :meta_description, t('.description', page: current_page) %>
<%= render 'shared/metrics' %>

<% if visitor_has_role? :dreambook_editor %>
    <nav class="options">
      <ul>
        <li><%= link_to t(:create), new_pattern_path %></li>
      </ul>
    </nav>
<% end %>

<section>
  <h1><%= t('.header') %></h1>

  <h2><%= t(:page, page: current_page) %></h2>

  <% if @patterns.any? %>
      <ul>
        <% @patterns.each do |pattern| %>
            <li><%= link_to pattern.name, pattern %></li>
        <% end %>
      </ul>

      <%= paginate @patterns %>
  <% else %>
      <%= render 'shared/nothing_found' %>
  <% end %>
</section>