<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :sidebar do %>
    <div class="options">
      <ul>
        <li><%= link_to t(:queue), patterns_path(queue: 1) %></li>
        <li><%= link_to t(:create), new_pattern_path %></li>
        <li><%= link_to t('layouts.main_navigation.dreambook'), dreambook_word_path(letter: @entity.letter, word: Canonizer.urlize(@entity.name)) %></li>
        <li><%= link_to t(:edit), edit_pattern_path(@entity) %></li>
        <li><%= link_to t(:delete), @entity, method: :delete, data: { confirm: t(:are_you_sure) } %></li>
      </ul>
    </div>
<% end %>

<%= render partial: 'adjacent', locals: { patterns: @adjacent } %>
<%= render @entity %>
