<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :sidebar do %>
    <div>
      <nav class="options">
        <ul>
          <li><%= link_to t(:create), new_tag_path %></li>
          <li><%= link_to t(:list), tags_path %></li>
          <li><%= link_to t(:edit), edit_tag_path(@entity) %></li>
          <li><%= link_to t(:delete), @entity, method: :delete, data: { confirm: t(:are_you_sure) } %></li>
        </ul>
      </nav>
    </div>
<% end %>

<article class="tag">
  <h1><%= @entity.name %></h1>
  <p><%= "#{t(:created_at)}: #{@entity.created_at.pubdate}" %></p>
  <p><%= "#{t(:updated_at)}: #{@entity.updated_at.pubdate}" %></p>
  <p><%= link_to t('.posts'), tagged_posts_path(tag_name: Canonizer.urlize(@entity.name)) %> (<%= @entity.post_count %>)</p>
</article>