<div class="data">
  <div><%= link_to word.body, admin_word_path(word) %></div>
  <div class="info">
    <%= form_tag patterns_api_word_path(word), method: 'put', class: 'patterns-setter' do %>
        <%= text_field_tag('patterns_string', word.patterns_string, disabled: word.locked?) %>
        <%= button_tag t(:update), type: :submit %>
    <% end %>
  </div>
  <div class="secondary info">
    <%= link_to t(:dream, count: word.dreams_count), dreams_admin_word_path(word) %>
  </div>
  <%= render partial: 'admin/words/toggleable', locals: { word: word } %>

  <ul class="actions">
    <li class="lockable <%= word.locked? ? 'hidden' : '' %>">
      <%= edit_icon edit_word_path(word) %>
    </li>
    <%= render partial: 'shared/actions/locks', locals: { entity: word, path: lock_api_word_path(word) } %>
  </ul>
</div>
