<% content_for :meta_title, t('.title', id: @entity.id, page: current_page) %>

<article class="entity-page">
  <h1><%= @entity.id %></h1>
  <ul class="actions">
    <li><%= back_icon admin_question_path(@entity) %></li>
  </ul>

  <div><%= prepare_question_text @entity %></div>

  <section>
    <h2><%= t(:comments_list) %></h2>

    <%= paginate @collection %>
    <%= render partial: 'admin/comments/list', locals: { collection: @collection } %>
    <%= paginate @collection %>
  </section>
</article>