<%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <table>
      <tbody>
      <tr>
        <th><%= f.label :body %></th>
        <td><%= f.text_field :body, required: true %></td>
      </tr>
      <tr>
        <th><%= label_tag :patterns_string, t('activerecord.attributes.word.patterns') %></th>
        <td><%= text_field_tag :patterns_string, entity.patterns_string %></td>
      </tr>
      <tr>
        <td colspan="2" class="flags">
          <ul>
            <li><%= f.check_box :significant %> <%= f.label :significant %></li>
            <li><%= f.check_box :processed %> <%= f.label :processed %></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= f.button t(:save), type: :submit %>
        </td>
      </tr>
      </tbody>
    </table>
<% end %>
