<% model_name = entity.class.to_s.underscore %>
<%=
  form_with(
      model: entity,
      html:  {
          id:   "#{model_name}-form",
          data: { check_url: check_words_path }
      }
  ) do |f|
%>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
    <dt><%= f.label :body %></dt>
    <dd>
      <%=
        f.text_field(
            :body,
            id:        "#{model_name}_body",
            size:      nil,
            maxlength: Word::BODY_LIMIT,
            required:  true,
            data:      {
                check: :body
            }
        )
      %>
      <div class="check-result-error hidden" data-field="body"></div>
      <div class="guideline"><%= t('.guidelines.name') %></div>
    </dd>

    <%= render partial: 'shared/forms/entity_flags', locals: { f: f } %>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= hidden_field_tag :entity_id, entity.id %>
    <%= f.button t(:save), type: :submit, class: 'button-save' %>
  </div>
<% end %>
