<article class="filler">
  <h1><%= filler.id %></h1>
  <dl>
    <dt><%= t('activerecord.attributes.filler.category') %></dt>
    <dd><%= filler.category %></dd>
    <% unless filler.gender.blank? %>
        <dt><%= t('activerecord.attributes.filler.gender') %></dt>
        <dd><%= filler.gender %></dd>
    <% end %>
  </dl>

  <div><%= filler.body %></div>
</article>
