<%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <table>
      <tbody>
      <tr>
        <th><%= f.label :user_id %></th>
        <td><%= f.select :user_id, bots_for_select %></td>
      </tr>
      <tr>
        <th><%= f.label :gender %></th>
        <td><%= f.select :gender, genders_for_select %></td>
      </tr>
      <tr>
        <th><%= f.label :title %></th>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <th><%= f.label :body %></th>
        <td><%= f.text_area :body, cols: 80, rows: 25, required: true %></td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="2">
          <%= f.button t(:save), type: :submit %>
        </td>
      </tr>
      </tfoot>
    </table>
<% end %>
