<%= render partial: 'shared/errors_list', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <div>
      <%= f.label :category %>
      <%= f.select :category, filler_categories_for_select %>
    </div>
    <div>
      <%= f.label :gender %>
      <%= f.select :gender, filler_genders_for_select %>
    </div>
    <div>
      <div><%= f.label :title %></div>
      <%= f.text_field :title, size: 80 %>
    </div>
    <div>
      <div><%= f.label :body %></div>
      <%= f.text_area :body, required: true, cols: 80, rows: 10 %>
    </div>

    <div>
      <%= f.button t(:submit), type: :submit %>
    </div>
<% end %>
