<% content_for :meta_title, t('.title', page: current_page) %>

<nav class="options">
  <ul>
    <li><%= link_to t(:create), new_filler_path %></li>
  </ul>
</nav>

<article>
  <h1><%= t('.header') %></h1>

  <h2><%= t(:page, page: current_page) %></h2>

  <% if @fillers.any? %>
      <ul>
        <% @fillers.each do |filler| %>
        <li>
          <div><%= link_to "#{filler.queue}:#{filler.gender}:#{filler.title}", filler %></div>
          <div><%= filler.body %></div>
        </li>
        <% end %>
      </ul>
      <%= paginate @fillers %>
  <% else %>
      <%= render 'shared/nothing_found' %>
  <% end %>
</article>