<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
  <span><%= t('.nav_text') %></span>
<% end %>

<article>
  <div class="content-wrapper">
    <h1><%= t('.heading') %></h1>

    <section class="intro">
      <h2>Новая услуга на сайте.</h2>

      <p>
        Если вам интересно, что означают ваши сны, у вас есть возможность
        узнать это, воспользовавшись услугой интерпретации снов на нашем сайте.
        Опыт толкования — с 2003 года.
      </p>

      <p>
        И речь тут не о мехиническом перепечатывании информации из так всем
        надоевших сонников, которые обещают золотые горы и чудеса и которые
        следует рассматривать скорее как шутку. Каждый сон интерпретируется
        в индивидуальном порядке с учётом контекста и деталей.
      </p>

      <p>
        Следует понимать, что несмотря на общие для множества людей символы снов
        (архетипы), тот или иной символ для каждого человека означает что-то
        личное. Тем не менее, даже при интерпретации без дополнительных деталей
        процент понимания достаточно высокий.
      </p>

      <p>
        Обратите внимание, что здесь вам дадут ответ на вопрос не <q>к чему
        снится</q>, а на вопросы <q>почему снится</q> и <q>что означает</q> тот
        или иной образ.
      </p>

      <p>
        Для ознакомительных целей при регистрации каждому даётся несколько
        бесплатных запросов на интерпретацию снов, чтобы можно было оценить
        процесс и результат.
      </p>

      <p>
        Цены указаны ниже. На момент тестового периода (без фактической оплаты)
        количество запросов на интерпретацию будет ограничено пятью. Своего рода
        бесплатный бонус для тех, кто с нами на раннем этапе.
      </p>
    </section>

    <%= render partial: 'components/dreams/widgets/interpretation_prices' %>

    <section>
      <h2>Как воспользоваться?</h2>

      <p>
        Услуга интерпретации снов доступна только зарегистрированным
        пользовавтелям. Соответственно, вам нужно
        <%= link_to('зарегистрироваться', new_my_profile_path) %> или
        <%= link_to('войти', login_path) %>, если вы уже зарегистрировались.
      </p>

      <p>
        После того, как вы вошли, вы можете описывать сны под своим именем.
        Если не хотите, чтобы сон был общедоступным, можете при описании сна
        можете выбрать видимость только для сообщества (сон будет виден только
        тем, что также вошёл на сайт), либо только для себя. В этом случае сон
        будет виден только вам.
      </p>

      <p>
        Независимо от видимости сна, на странице с описанием сна будет блок
        с запросом толкования. Если остались запросы на толкования, там будет
        кнопка «запросить толкование», при нажатии на которую будет осуществлён
        сам запрос.
      </p>

      <p>
        Обратите внимание: при описании сна с доступом только для вас он виден
        только вам и скрыт ото всех, в том числе от администраторов. Но при
        запросе толкования такого сна по понятным причинам к нему будет доступ
        у интерпретатора. Так что вы можете использовать сайт как личный дневник
        снов и запрашивать интерпретацию только тех снов, которые не можете
        растолковать самостоятельно.
      </p>

      <p>
        Время реакции составляет от нескольких десятков минут до нескольких
        часов, в зависимости от времени суток и сложности сна.
      </p>

      <p>
        Процесс происходит в виде диалога. Вы сможете дополнять сон деталями
        при необходимости или если у толкователя возникнут дополнительные
        вопросы.
      </p>

      <p>
        Посмотреть список своих запросов на толкование можно в личном кабинете.
        На данный момент все толкования осуществляет создатель этого проекта,
        <a href="/u/dr_von_ozgg">dr_von_ozgg</a>.
      </p>

      <p>
        Услуга толкования снов — это «взгляд со стороны» человека с достаточным
        опытом в этой области. Услуга носит консультативный характер,
        не является диагностикой или психотерапией и не может расцениваться
        как руководство, рекомендация или призыв к каким-либо действиям.
      </p>
    </section>
  </div>
</article>

<% content_for :sidebar do %>
  <%#= render 'sidebar/patterns' %>
<% end %>
