<header>
  <h1><%= @title %></h1>
</header>

<% if @tags.any? %>
    <nav class="dream-symbols">
      <ul>
        <% @tags.each do |tag| %>
            <li><%= tag.name %> (<%= tag.entries_count %>)</li>
        <% end %>
      </ul>
    </nav>

    <%= paginate @tags %>
<% else %>
    <div class="message"><%= t('nothing_found') %></div>
<% end %>