<% content_for :title, t('.title', page: params[:page] || 1) %>
<% content_for :description, t('.description', page: params[:page] || 1) %>

<header>
  <h1><%= t('.header') %></h1>
  <h2><%= t('page', page: params[:page] || 1) %></h2>
</header>

<% if @tags.any? %>
    <nav class="dream-symbols">
      <ol start="<%= ((params[:page] || 1).to_i - 1) * 20 + 1 %>">
        <% @tags.each do |personal_tag| %>
            <% element_class = personal_tag.description.blank? ? '' : ' class="described"' %>
            <li<%= raw element_class %>>
              <%= link_to personal_tag.tag.name, my_tag_path(personal_tag) %> (<%= personal_tag.entries_count %>)
            </li>
        <% end %>
      </ol>
    </nav>

    <%= paginate @tags %>
<% else %>
    <div class="message"><%= t('nothing_found') %></div>
<% end %>

<%= render 'common/metrics' %>
