<% content_for :meta_title, t('.title', page: current_page) %>
<%= render 'shared/metrics' %>

<section>
  <header>
    <h1><%= t('.header') %></h1>
    <h2><%= render 'shared/page' %></h2>
  </header>

  <% if @tags.any? %>
      <nav class="dream-symbols">
        <ol start="<%= ((params[:page] || 1).to_i - 1) * 20 + 1 %>">
          <% @tags.each do |personal_tag| %>
              <% element_class = personal_tag.description.blank? ? '' : ' class="described"' %>
              <li<%= raw element_class %>>
                <%= link_to personal_tag.tag.name, my_tag_path(personal_tag) %> (<%= personal_tag.entries_count %>)
              </li>
          <% end %>
        </ol>
      </nav>

      <%= paginate @tags %>
  <% else %>
      <%= render 'shared/nothing_found' %>
  <% end %>
</section>
