<header>
  <h1><%= @title %></h1>
</header>

<% if @tags.any? %>
    <nav class="dream-symbols">
      <ol start="<%= ((params[:page] || 1).to_i - 1) * 20 + 1 %>">
        <% @tags.each do |personal_tag| %>
            <li><%= personal_tag.tag.name %> (<%= personal_tag.entries_count %>)</li>
        <% end %>
      </ol>
    </nav>

    <%= paginate @tags %>
<% else %>
    <div class="message"><%= t('nothing_found') %></div>
<% end %>