<% content_for :meta_title, t('.title') %>
<%= render 'shared/metrics' %>

<section>
  <header>
    <h1><%= t('.title') %></h1>
  </header>

  <nav style="margin-left: 30px;">
    <ul>
      <li><%= link_to t('.dreams'), my_dreams_path %></li>
      <li><%= link_to t('.posts'), my_posts_path %></li>
      <li><%= link_to t('.profile'), my_profile_path %></li>
      <li><%= link_to t('.tags'), my_symbols_path %></li>
      <li><%= link_to t('.my_deeds'), my_deeds_path %></li>
      <li><%= link_to t('.my_goals'), my_goals_path %></li>
      <!--<li><%= link_to t('.places'), places_path %></li>-->
      <% if current_user.filled_email? && !current_user.mail_confirmed? %>
          <li><%= link_to t('.confirm_email'), my_confirmation_path %></li>
      <% end %>
    </ul>
  </nav>
</section>

