<% content_for :title, t('.title') %>

<header>
  <h1><%= t('.header') %></h1>
</header>

<nav>
  <ul>
    <li><%= link_to t('.dreams'), my_dreams_path %></li>
    <li><%= link_to t('.posts'), my_posts_path %></li>
    <li><%= link_to t('.thoughts'), my_thoughts_path %></li>
    <li><%= link_to t('.profile'), my_profile_path %></li>
    <li><%= link_to t('.tags'), my_symbols_path %></li>
    <li><%= link_to t('.my_deeds'), my_deeds_path %></li>
    <li><%= link_to t('.my_grains'), my_grains_path %></li>
    <% unless current_user.mail_confirmed? %>
        <li><%= link_to t('.confirm_email'), my_confirmation_path %></li>
    <% end %>
  </ul>
</nav>
