<% content_for :meta_title, t('.title') %>
<% content_for :sidebar do %>
    <%= render 'sidebar/more_links' %>
<% end %>

<article>
  <h1><%= t('.title') %></h1>

  <ul>
    <li><%= link_to t('my.profiles.show.title'), my_profile_path %></li>
    <li><%= link_to t('my.dreams.index.header'), my_dreams_path %></li>
    <li><%= link_to t('my.posts.index.header'), my_posts_path %></li>
    <li><%= link_to t('my.questions.index.header'), my_questions_path %></li>
    <li><%= link_to t('my.comments.index.header'), my_comments_path %></li>
    <li><%= link_to t('my.side_notes.index.header'), my_side_notes_path %></li>
    <li><%= link_to t('my.grains.index.header'), my_grains_path %></li>
    <li><%= link_to t('my.places.index.header'), my_places_path %></li>
    <li><%= link_to t('my.deeds.index.header'), my_deeds_path %></li>
    <li><%= link_to t('my.goals.index.header'), my_goals_path %></li>
    <% if current_user.should_confirm_email? %>
        <li><%= link_to t('my.confirmations.show.title'), my_confirmation_path %></li>
    <% end %>
  </ul>
</article>
