<div class="image">
  <%= profile_avatar(entity.user) %>
</div>
<div class="data">
  <div><%= admin_filler_link(entity) %></div>
  <div class="info">
    <%= admin_user_link(entity.user) %>
  </div>
  <div class="secondary info">
    <%= time_tag(entity.created_at) %>
  </div>

  <ul class="actions">
    <li><%= edit_icon(edit_filler_path(id: entity.id)) %></li>
  </ul>
</div>
