<%= render partial: 'shared/errors_list', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <% if entity.image.url %>
        <figure>
          <%= image_tag entity.image.url %>
          <figcaption><%= t('activerecord.attributes.post.image') %></figcaption>
        </figure>
    <% end %>
    <div>
      <%= f.label :image %>
      <%= f.file_field :image, accept: 'image/jpeg, image/png' %>
    </div>
    <div>
      <div><%= f.label :title %></div>
      <%= f.text_field :title, required: true, size: 50 %>
    </div>
    <div>
      <div><%= f.label :lead %></div>
      <%= f.text_area :lead, cols: 50, rows: 5, required: true %>
    </div>
    <div>
      <div><%= f.label :body %></div>
      <%= f.text_area :body, cols: 50, rows: 20, required: true %>
    </div>
    <div>
      <div><%= label_tag :post_tags_list, t('.tags_list') %></div>
      <%= text_area_tag 'post[tags_string]', entity.tags_cache.join(', '), cols: 50, rows: 2 %>
    </div>

    <% if current_user_has_role? :administrator %>
        <div>
          <%= f.check_box :show_in_list %>
          <%= f.label :show_in_list %>
        </div>
    <% end %>

    <div>
      <%= f.button t(:submit), type: :submit %>
    </div>
<% end %>