<%= form_for(@post) do |f| %>
    <%= render partial: 'shared/errors_list', locals: { entity: @post } %>

    <% if @post.image.url %>
        <figure>
          <%= image_tag @post.image.post.url %>
          <figcaption><%= t('activerecord.attributes.post.image') %></figcaption>
        </figure>
    <% end %>
    <div>
      <%= f.label :image %>
      <%= f.file_field :image, accept: 'image/jpeg, image/png' %>
    </div>
    <% if current_user.has_role? :posts_manager %>
        <div>
          <%= f.check_box :show_in_list %>
          <%= f.label :show_in_list %>
        </div>
    <% end %>
    <div>
      <div><%= f.label :title %></div>
      <%= f.text_field :title, required: true, size: 80 %>
    </div>
    <div>
      <div><%= f.label :lead %></div>
      <%= f.text_area :lead, required: true, cols: 80, rows: 5 %>
    </div>
    <div>
      <div><%= f.label :body %></div>
      <%= f.text_area :body, required: true, cols: 80, rows: 25 %>
    </div>

    <div>
      <%= f.button t(:submit), type: 'submit' %>
    </div>
<% end %>
