<%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <table>
      <tbody>
      <tr>
        <td colspan="2">
          <figure class="preview" id="post-image">
            <% if entity.image.blank? %>
                <%= image_tag 'image-placeholder.png' %>
            <% else %>
                <%= image_tag entity.image.big.url %>
            <% end %>
            <figcaption>
              <%= f.label :image %>
              <%= f.file_field :image, accept: 'image/jpeg,image/png', data: { image: 'post-image' } %>
            </figcaption>
          </figure>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div><%= f.label :title %></div>
          <%= f.text_field :title, size: 20, mexlength: Post::TITLE_LIMIT, required: true %>
        </td>
      </tr>
      <tr>
        <td>
          <div><%= f.label :lead %></div>
          <%= f.text_area :lead, cols: 20, rows: 5, required: true %>
        </td>
      </tr>
      <tr>
        <td>
          <div><%= f.label :body %></div>
          <%= f.text_area :body, cols: 20, rows: 25, required: true %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="flags">
          <ul>
            <li><%= f.check_box :visible %><%= f.label :visible %></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="tags">
          <div class="heading"><%= t('posts.form.tags') %></div>
          <% Tag.visible.ordered_by_slug.each do |tag| %>
              <div>
                <%= check_box_tag 'tag_ids[]', tag.id, tag.has_post?(entity), id: "tag_id_#{tag.id}" %>
                <%= label_tag "tag_id_#{tag.id}", tag.name %> (<%= t(:post, count: tag.posts_count) %>)
              </div>
          <% end %>
        </td>
      </tr>
      <%= render partial: 'posts/form/figures', locals: { entity: entity } %>
      </tbody>
      <tfoot>
      <tr>
        <th colspan="2">
          <%= f.button t(:save), type: :submit %>
        </th>
      </tr>
      </tfoot>
    </table>
<% end %>
