<%= form_for(@entry) do |f| %>
    <%= render partial: 'common/errors_list', locals: { entity: @entry } %>

    <% if @entry.image.url %>
        <figure>
          <%= image_tag @entry.image.post.url %>
          <figcaption><%= t('activerecord.attributes.post.image') %></figcaption>
        </figure>
    <% end %>
    <div>
      <%= f.label :image %>
      <%= f.file_field :image, accept: 'image/jpeg, image/png' %>
    </div>
    <div>
      <%= f.label :title %><br />
      <%= f.text_field :title, required: true, size: 80 %>
    </div>
    <div>
      <%= f.label :lead %><br />
      <%= f.text_area :lead, required: true, cols: 80, rows: 5 %>
    </div>
    <div>
      <%= f.label :body %><br />
      <%= f.text_area :body, required: true, cols: 80, rows: 25 %>
    </div>

    <div>
      <%= f.button t(:submit), type: 'submit' %>
    </div>
<% end %>
