<% if posts.any? %>
    <% posts.each do |post| %>
        <div class="post-preview">
          <div class="header">
            <div class="title"><%= link_to post.title, post %></div>
            <span class="author"><%= user_link post.user %></span>
            <time datetime="<%= post.created_at.w3c %>"><%= post.created_at.strftime('%d.%m.%Y, %H:%M') %></time>
          </div>
          <div class="body">
            <% if post.image.url %>
                <div class="image"><%= image_tag post.image.lead, alt: post.title %></div>
            <% end %>
            <div class="text"><%= post.preview %></div>
          </div>
          <div class="footer">
            <div class="comment-count"><%= link_to t(:comment, count: post.comments_count), post %></div>
          </div>
        </div>
    <% end %>

    <%= paginate posts if local_assigns[:paginate] %>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
