<% if posts.any? %>
    <% posts.each do |post| %>
        <div class="post-preview">
          <div class="header">
            <%= render partial: 'posts/controls', locals: { post: post } %>
            <div class="title"><%= link_to post.title, post %></div>
            <span class="author"><%= user_link post.user %></span>
            <%= render partial: 'shared/publication_time', locals: { time: post.created_at } %>
          </div>
          <div class="body">
            <% if post.image.url %>
                <div class="image"><%= image_tag post.image.url, alt: post.title %></div>
            <% end %>
            <div class="text"><%= post.lead %></div>
          </div>
          <div class="footer">
            <div class="comment-count"><%= link_to t(:comment, count: post.comments_count), post %></div>
          </div>
          <%= render 'shared/track_data', item: post %>
        </div>
    <% end %>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
