<article class="post">
  <header>
    <figure><%= raw user_avatar(post.user) %></figure>
    <h2>
      <% if local_assigns[:preview] %>
        <%= link_to post.parsed_title, post %>
    <% else %>
        <%= post.parsed_title %>
    <% end %>
    </h2>

    <div class="privacy privacy-<%= post.privacy %>">&nbsp;</div>

    <div class="author">
      <%= user_link post.user %>,
      <%= t("activerecord.models.#{post.class.to_s.downcase}") + ' ' + t('at') %>
      <time datetime="<%= post.created_at %>"><%= post.created_at.strftime('%d.%m.%Y, %H:%M') %></time>
    </div>

    <% if post.dream? %>
        <% tags = post.entry_tags %>
        <% if tags.any? %>
            <div class="tags">
              <div><%= t('.tags') %></div>
              <nav>
                <ul>
                  <% tags.each do |tag| %>
                    <li><!--
                      --><%= link_to tag.name, tagged_dreams_path(tag: tag.name) %><!--
                      --><% if tag.description %>
                         <span><%= link_to '?', dreambook_word_path(letter: tag.letter, word: tag.name) %></span><!--
                      --><% end %><!--
                    --></li>
                  <% end %>
                </ul>
              </nav>
            </div>
        <% end %>
    <% end %>
  </header>
  <div>
    <% if local_assigns[:preview] %>
        <%= raw post.preview %>
        <% if post.passages_count > 2 %>
            <p class="more"><%= link_to t('read_more'), post %></p>
        <% end %>
    <% else %>
        <%= raw post.parsed_body %>
    <% end %>
  </div>
  <footer>
    <%= post.comments_count %>
  </footer>
</article>
