<article class="entry post">
  <header>
    <figure><%= raw entry_avatar(post.user) %></figure>
    <h2><%= post.title %></h2>
    <div class="author">
      <%= user_link post.user %>,
      <time datetime="<%= post.created_at.w3c %>"><%= post.created_at.strftime('%d.%m.%Y, %H:%M') %></time>
    </div>
  </header>
  <div>
    <% if post.image.url %>
        <div class="post-image"><%= link_to image_tag(post.image.post, alt: post.title), post.image.url %></div>
    <% end %>
    <%= simple_format post.body %>
  </div>
  <footer>
    <div class="permalink"><%= link_to t(:link), post %></div>
    <div class="comments-count"><%= t('comment', count: post.comments_count) %></div>
  </footer>
</article>

<% @comment = Comment.new(commentable: post) %>
<section>
  <% if post.comments.any? %>
      <h3><%= t('entries.comments.comments') %></h3>
      <ul class="comments">
        <% post.comments.order('id asc').each do |comment| %>
            <li id="comment-<%= comment.id %>">
              <div>
                <figure>
                  <%= comment_avatar(comment.user) %>
                  <figcaption><%= user_link(comment.user) %></figcaption>
                </figure>
                <time datetime="<%= comment.created_at.w3c %>"><%= comment.created_at.strftime('%d.%m.%Y, %H:%M') %></time>
              </div>

              <div>
                <%= raw parse_body(comment.body, false, true) %>
              </div>

              <ul class="actions">
                <li>
                  <div><%= t('entries.comments.reply') %></div>
                  <div></div>
                </li>
              </ul>
            </li>
        <% end %>
      </ul>
  <% end %>

  <div class="reply-container">
    <h3><%= t('entries.comments.add_comment') %></h3>
    <div>
      <%= render 'comments/form' %>
    </div>
  </div>
</section>

<%= render 'layouts/social' %>
