<article class="post" itemscope itemtype="http://schema.org/Article">
  <h1 itemprop="name"><%= post.title %></h1>

  <div class="body" itemprop="articleBody">
    <% if post.image.url %>
        <figure><%= link_to image_tag(post.image.url, alt: post.title, itemprop: 'image'), post.image.url %></figure>
    <% end %>
    <%= prepare_post_text post %>

    <% if post.tags_cache.any? %>
        <div class="tags">
          <span><%= t('posts.form.tags_list') %></span>
          <% post.tags_cache.each do |tag_name| %>
              <%= link_to tag_name, tagged_posts_path(tag_name: Canonizer.urlize(tag_name)), rel: 'tag' %>
          <% end %>
        </div>
    <% end %>
  </div>


  <div class="footer">
    <%= render partial: 'shared/author_and_time', locals: { item: post } %>
    <%= render partial: 'admin/flags', locals: { flags: post.flags } if current_user_has_role? :administrator %>
    <meta itemprop="commentCount" content="<%= post.comments_count %>"/>
  </div>

  <%= render 'shared/track_data', item: post %>

  <%= render 'shared/social' %>

  <%= render partial: 'comments/list', locals: { commentable: post, comments: post.comments } %>
</article>
