<article class="entry post">
  <header>
    <figure><%= raw entry_avatar(post.user) %></figure>
    <h2><%= post.title %></h2>
    <div class="author">
      <%= user_link post.user %>,
      <time datetime="<%= post.created_at.w3c %>"><%= post.created_at.strftime('%d.%m.%Y, %H:%M') %></time>
    </div>
  </header>
  <div>
    <%= simple_format post.body %>
  </div>
  <footer>
    <div class="permalink"><%= link_to t(:link), post %></div>
    <div class="comments-count"><%= t('comment', count: post.comments_count) %></div>
  </footer>
</article>

<%= render 'layouts/social' %>

