<% if @post.editable_by? current_user %>
    <nav class="options">
      <ul>
        <li><%= link_to t(:edit), edit_post_path(@post) %></li>
        <li><%= link_to t(:delete), post, method: :delete, data: { confirm: t(:are_you_sure) } %></li>
      </ul>
    </nav>
<% end %>
<article class="post" itemscope itemtype="http://schema.org/Article">
  <header>
    <h1 itemprop="name"><%= post.title %></h1>
  </header>

  <section class="body" itemprop="articleBody">
    <% if post.image.url %>
        <figure><%= link_to image_tag(post.image.post, alt: post.title, itemprop: 'image'), post.image.url %></figure>
    <% end %>
    <%= simple_format post.body %>
  </section>

  <section class="info">
    <div>
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><%= user_link post.user %></span></span>,
      <time itemprop="datePublished" content="<%= post.created_at.microformat_minutes %>" datetime="<%= post.created_at.w3c %>"><%= post.created_at.strftime('%d.%m.%Y, %H:%M') %></time>
    </div>
    <meta itemprop="commentCount" content="<%= post.comments_count %>"/>
  </section>
  <%= render 'shared/track_data', item: post %>

  <%= render 'shared/social' %>

  <%= render partial: 'comments/list', locals: { commentable: post, comments: post.comments } %>
</article>
