<article class="post" itemscope itemtype="http://schema.org/Article">
  <header>
    <h1 itemprop="name"><%= post.title %></h1>
    <% if @post.editable_by? current_user %>
        <nav>
          <ul>
            <li><%= link_to t(:edit), edit_post_path(@post) %></li>
            <li><%= link_to t(:delete), post, method: :delete, data: { confirm: t(:are_you_sure) } %></li>
          </ul>
        </nav>
    <% end %>
  </header>

  <section class="body" itemprop="articleBody">
    <% if post.image.url %>
        <figure><%= link_to image_tag(post.image.post, alt: post.title, itemprop: 'image'), post.image.url %></figure>
    <% end %>
    <%= simple_format post.body %>
  </section>

  <section class="info">
    <div>
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><%= user_link post.user %></span></span>,
      <time itemprop="datePublished" content="<%= post.created_at.microformat_minutes %>" datetime="<%= post.created_at.w3c %>"><%= post.created_at.strftime('%d.%m.%Y, %H:%M') %></time>
    </div>
  </section>

  <%= render 'shared/social' %>

  <section class="comments">
    <% @comment = Comment.new(commentable: post) %>
    <% if post.comments.any? %>
        <h1><%= t(:comments) %></h1>

        <div class="comments">
          <% post.comments.order('id asc').each do |comment| %>
              <div id="comment-<%= comment.id %>">
                <div class="header">
                  <%= comment_avatar(comment.user) %>
                  <span class="user"><%= user_link(comment.user) %></span>
                  <time datetime="<%= comment.created_at.w3c %>"><%= comment.created_at.strftime('%d.%m.%Y, %H:%M') %></time>
                </div>

                <div class="body">
                  <%= raw parse_body(comment.body, false, true) %>
                </div>

                <div class="actions">
                  <div class="reply"><%= t(:reply) %></div>
                  <div></div>
                </div>
              </div>
          <% end %>
        </div>
    <% end %>

    <div class="reply-container">
      <h3><%= t('comment.add') %></h3>

      <div>
        <%= render 'comments/form' %>
      </div>
    </div>
  </section>

</article>
