<article class="post" itemscope itemtype="http://schema.org/Article">
  <h1 itemprop="name"><%= post.title %></h1>

  <div class="body" itemprop="articleBody">
    <% unless post.image.blank? %>
        <figure><%= image_tag(post.image.big.url, alt: post.title, itemprop: 'image') %></figure>
    <% end %>

    <%= prepare_post_text post %>
  </div>

  <% if post.tags_cache.any? %>
      <div class="tags">
        <% post.tags_cache.each do |tag_name| %>
            <%= link_to tag_name, tagged_posts_path(tag_name: Canonizer.urlize(tag_name)), rel: 'tag' %>
        <% end %>
      </div>
  <% end %>

  <div class="footer">
    <div class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name"><%= user_link post.user %></span>
    </div>
    <div class="time">
      <%= time_tag post.created_at, itemProp: 'datePublished' %>
    </div>
    <meta itemprop="commentCount" content="<%= post.comments_count %>" />
  </div>

  <%= render partial: 'shared/track', locals: { item: post } %>

  <%# render partial: 'comments/list', locals: { commentable: post, comments: post.comments } %>
</article>
