<div class="post-preview">
  <div class="header">
    <div class="image"><%= profile_avatar post.user %></div>
    <div class="info">
      <div class="title"><%= post_link post, current_user %></div>
      <div class="author"><%= user_link post.user %></div>
      <div class="time"><%= time_tag post.created_at %></div>
      <div class="tags">
        <%= t('posts.form.tags') %>:
        <% post.tags_cache.each do |tag| %>
            <span><%= link_to tag, tagged_posts_path(tag_name: Canonizer.urlize(tag)) %></span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="body">
    <p><%= post.lead %></p>
  </div>
  <div class="footer">
    <div class="comments">
      <%= post_link post, current_user, t(:comment, count: post.comments_count), { anchor: 'comments' } %>
    </div>
  </div>
</div>
