<section class="post preview">
  <h1><%= link_to post.title, post %></h1>

  <div class="body">
    <% unless post.image.blank? %>
        <div class="image"><%= image_tag post.image.preview.url, alt: post.title %></div>
    <% end %>
    <div class="text"><%= post.lead %></div>
    <% if post.tags_cache.any? %>
        <div class="tags">
          <span><%= t('posts.form.tags_list') %>:</span>
          <% post.tags_cache.each do |tag_name| %>
              <%= link_to tag_name, tagged_posts_path(tag_name: Canonizer.urlize(tag_name)) %>
          <% end %>
        </div>
    <% end %>
  </div>
  <div class="footer">
    <%= render partial: 'shared/author_and_time', locals: { item: post } %>
    <%= render partial: 'admin/flags', locals: { flags: post.flags } if current_user_has_role? :administrator %>
    <div class="count"><%= link_to t(:comment, count: post.comments_count), post %></div>
  </div>
  <%= render 'shared/track_data', item: post %>
</section>
