<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :meta_description, t('.description', page: current_page) %>
<% content_for :sidebar do %>
    <%= render 'management_links' %>
    <div>
      <p><%= link_to t('.archive'), archive_posts_path %></p>
    </div>
<% end %>

<%= render 'shared/metrics' %>

<article class="posts">
  <h1><%= t('.header') %></h1>

  <%= paginate @collection %>
  <%= render partial: 'list', locals: { posts: @collection } %>
  <%= paginate @collection %>
</article>
