<% content_for :meta_title, @entity.title %>
<% content_for :meta_description, @entity.preview %>
<% content_for :meta_type, 'article' %>
<% content_for :meta_type_extension do %>
    <meta property="og:article:published_time" content="<%= @entity.created_at.iso_day %>"/>
    <meta property="og:article:modified_time" content="<%= @entity.updated_at.iso_day %>"/>
    <meta property="og:article:author" content="<%= @entity.user.screen_name %>"/>
<% end %>
<% content_for :meta_image, (request.protocol + request.host_with_port + @entity.image.url) if @entity.image.url %>
<% content_for :sidebar do %>
    <% if @entity.editable_by? current_user %>
        <div class="options">
          <ul>
            <li><%= link_to t(:edit), edit_post_path(@entity) %></li>
          </ul>
        </div>
    <% end %>
<% end %>

<%= render 'shared/metrics' %>

<%= render @entity %>
