<div class="data">
  <div><%= entity.body %></div>
  <div class="info">
    <%= time_tag entity.created_at %>, <%= admin_user_link(entity.user) %>
  </div>
  <div class="secondary info">
    <div><%= entity.ip %></div>
    <% unless entity.agent.nil? %>
        <div><%= entity.agent.name %></div>
    <% end %>
  </div>
</div>
