<% content_for :title, t('.title') %>
<% content_for :description, 'История развития и изменения проекта «Совия», его функций и возможностей.' %>

<header>
  <h1>О проекте</h1>
</header>

<article>
  <header>
    <h2>История изменений</h2>

    <p>
      Было бы интересно следить за развитием проекта. История изменений ведётся с сентября 2012 года.
      Текущее состояние дел можно посмотреть на соответствующей странице
      на <a href="https://github.com/ozgg/Sovia/issues" rel="external">github</a>.
    </p>
  </header>

  <div>
    <h3 id="version-3-0-3">Версия 3.0.3</h3>
    <ul aria-labelledby="version-3-0-3">
      <li>
        <time datetime="2014-11-04">04.11.2014</time>
        На главной странице выводятся обновления сонника [<%= link_to_ticket 103 %>].
      </li>
      <li>
        <time datetime="2014-11-04">04.11.2014</time>
        Добавлены мета-описания для каждой страницы [<%= link_to_ticket 102 %>].
      </li>
    </ul>
    <h3 id="version-3-0-2">Версия 3.0.2</h3>
    <ul aria-labelledby="version-3-0-2">
      <li>
        <time datetime="2014-11-01">01.11.2014</time>
        Добавлен механизм личного описания символов снов [<%= link_to_ticket 79 %>].
      </li>
      <li>
        <time datetime="2014-11-01">01.11.2014</time>
        Можно использовать картинку с gravatar.com [<%= link_to_ticket 65 %>].
      </li>
      <li>
        <time datetime="2014-11-01">01.11.2014</time>
        Можно смотреть список всех комментариев, к которым есть доступ [<%= link_to_ticket 61 %>].
      </li>
      <li>
        <time datetime="2014-11-01">01.11.2014</time>
        В профиле пользователя теперь есть его публикации [<%= link_to_ticket 84 %>].
      </li>
      <li>
        <time datetime="2014-11-01">01.11.2014</time>
        Появились ссылки на соседние записи в журнале успеха [<%= link_to_ticket 92 %>].
      </li>
      <li>
        <time datetime="2014-08-13">13.08.2014</time>
        Время жизни сессии составляет две недели.
      </li>
      <li>
        <time datetime="2014-08-06">06.08.2014</time>
        Добавлены зёрна восприятия [<%= link_to_ticket 77 %>]
      </li>
      <li>
        <time datetime="2014-07-19">19.07.2014</time>
        Улучшена система ссылок из текста [<%= link_to_ticket 91 %>]
      </li>
      <li>
        <time datetime="2014-07-05">05.07.2014</time>
        Добавлена начальная версия профиля пользователя [<%= link_to_ticket 83 %>]
      </li>
      <li>
        <time datetime="2014-04-06">06.04.2014</time>
        Исправлена ошибка с приходом ответов автора публикации ему же [<%= link_to_ticket 87 %>]
      </li>
      <li>
        <time datetime="2014-03-26">26.03.2014</time>
        Для каждого типа записи доступны метки с фильтрацией [<%= link_to_ticket 59 %>]
      </li>
      <li>
        <time datetime="2014-03-26">26.03.2014</time>
        Появился блог пользователя [<%= link_to_ticket 76 %>]
      </li>
      <li>
        <time datetime="2014-03-26">26.03.2014</time>
        Появился журнал успеха [<%= link_to_ticket 74 %>]
      </li>
      <li>
        <time datetime="2014-03-26">26.03.2014</time>
        В закрытых записях не появляется функционал &laquo;поделиться&raquo; [<%= link_to_ticket 80 %>]
      </li>
      <li>
        <time datetime="2014-03-26">26.03.2014</time>
        Появились ссылки из истории изменений на Github [<%= link_to_ticket 75 %>]
      </li>
    </ul>
  </div>

  <div>
    <h3 id="version-3-0-1">Версия 3.0.1</h3>
    <ul aria-labelledby="version-3-0-1">
      <li>
        <time datetime="2014-03-22">22.03.2014</time>
        Снова работает разборщик текстов [<%= link_to_ticket 58 %>]
      </li>
      <li>
        <time datetime="2014-03-22">22.03.2014</time>
        Снова можно отвечать на комментарии [<%= link_to_ticket 63 %>]
      </li>
      <li>
        <time datetime="2014-03-18">18.03.2014</time>
        В личном кабинете есть статистика по личным символам снов [<%= link_to_ticket 66 %>]
      </li>
      <li>
        <time datetime="2014-03-17">17.03.2014</time>
        Возвращена навигация по соседним записям [<%= link_to_ticket 55 %>]
      </li>
      <li>
        <time datetime="2014-03-16">16.03.2014</time>
        Исправлена ошибка с отсутствием обрезки для записей из трёх абзацев [<%= link_to_ticket 70 %>]
      </li>
    </ul>
  </div>

  <div>
    <h3 id="version-3-0-0">Версия 3.0.0</h3>

    <p id="milestone-3-0-0">
      <time datetime="2014-03-15">15.03.2014</time>
      была выложена полностью обновлённая версия проекта
      с новой архитектурой, новым подходом к разработке и немного обновлённой идеологией.
    </p>
    <ul aria-labelledby="version-3-0-0" aria-describedby="milestone-3-0-0">
      <li>Проект полностью переписан на Ruby on Rails</li>
      <li>Появилась возможность описывать сны анонимно</li>
      <li>Более гибкий механизм ссылок из символов снов на сонник</li>
      <li>Для пользователей ведётся индивидуальная статистика по его символам</li>
      <li>Адрес электронной почты теперь необязателен для работы с сайтом</li>
      <li>Добавлена возможность анонимных комментариев</li>
      <li>Раздел &laquo;форум&raquo; теперь называется &laquo;публикации&raquo;</li>
      <li>Описания сущностей отдельным разделом теперь нет</li>
      <li>Бредового генератора снов больше нет</li>
      <li>Метки снова разделяются только запятыми</li>
      <li>Картинка пользователя у пользователя теперь только одна</li>
      <li>Усилен контроль качества кода</li>
    </ul>
  </div>

  <div>
    <h3 id="version-2-2-2">Версия 2.2.2</h3>
    <ul>
      <li>
        <time datetime="2012-02-08">08.02.2012</time>
        Если у записи нет названия, выводится «Без названия» [<%= link_to_ticket 53 %>]
      </li>
    </ul>
  </div>

  <div>
    <h3 id="version-2-2-1">Версия 2.2.1</h3>
    <ul aria-labelledby="version-2-2-1">
      <li>
        <time datetime="2012-09-21">21.09.2012</time>
        Исправлена ошибка, когда не выбиралась картинка по умолчанию при добавлении
        комментария [<%= link_to_ticket 52 %>]
      </li>
      <li>
        <time datetime="2012-09-10">10.09.2012</time>
        Пользователь запоминается на неделю [<%= link_to_ticket 44 %>]
      </li>
      <li>
        <time datetime="2012-09-10">10.09.2012</time>
        Пробел можно использовать как раздетилель меток [<%= link_to_ticket 51 %>]
      </li>
      <li>
        <time datetime="2012-09-09">09.09.2012</time>
        Появился файл sitemap
      </li>
    </ul>
  </div>

  <div>
    <h3 id="version-2-2-0">Версия 2.2.0</h3>

    <p id="milestone-2-2-0">
      Было переписано ядро сайта и улучшена вёрстка (начат переход на HTML5).
    </p>
    <ul aria-labelledby="version-2-2-0" aria-describedby="milestone-2-2-0">
      <li>
        <time datetime="2012-09-01">01.09.2012</time>
        Появилась история изменений
      </li>
      <li>
        <time datetime="2012-09-01">01.09.2012</time>
        Появилось описание функционала
      </li>
    </ul>
  </div>
</article>

<section>
  <%= render 'layouts/statistics' %>
  <%= render 'layouts/random_dream' %>
  <%= render 'layouts/more' %>
</section>
