<% content_for :meta_title, t('.title') %>
<% content_for :meta_description, 'Что такое Совия, сайт про сны. Бесплатный онлайн-дневник снов, сонник, форум, статьи, интерпретация и анализ сновидений.' %>
<%= render 'shared/metrics' %>

<article>
  <h1>О проекте</h1>

  <section>
    <h1>Общие слова</h1>
    <p>Проект «Совия» посвящён снам и сновидениям. Мы уделяем внимание как физиологическим, так и психологическим
      аспектам сна. Основной упор мы делаем на применении полученных знаний на практике.</p>
    <p>Человек проводит во сне не менее трети своей жизни. Это время можно использовать для полноценного отдыха,
      решения различных психологических задач, развлечения и многого другого.</p>
    <p>Наша команда занимается разработкой <%= link_to 'инструментов для работы со снами', about_features_path %>.
      На сайте sovia.ru вы можете воспользоваться уникальным дневником снов и сонником. Эти два инструмента
      взаимосвязаны и позволяют документировать, анализировать и интерпретировать свои сны, а также выявлять
      и отслеживать закономерности в снах.</p>
    <p>Дневник может быть как личным (недоступен для других пользователей или посетителей сайта), так и открытым.</p>
    <p>Проект <a href="http://sovia.ru/" title="Совия, проект о снах">Совия</a>
      призван объединить всё, что относится к снам и миру сновидений. Люди, которых
      увлекает тема снов, или серьезно занимающиеся изучением этой темы — все смогут
      найти здесь что-то полезное для себя.</p>
    <p>Единое информационное пространство позволяет хранить большую
      <%= link_to 'базу снов', dreams_path, title: 'Читать сны' %>, записанных разными людьми.
      Объединив общие знания, можно проанализировать и расшифровать практически любой
      сон, даже если кажется, что он ничего не значит. Интерпретировать сон можно либо
      самостоятельно, пользуясь в том числе
      <%= link_to 'сонником', dreambook_path, title: 'Сонник' %>,
      так и в процессе общения с другими людьми, которые могут комментировать сны.</p>
    <p>На сайте будут накапливаться знания по тематике сновидений, которые смогут
      использовать все желающие.</p>
    <p>Если у Вас имеется статья или материал, который Вы хотели бы разместить
      на сайте проекта, можете прислать его нам, и в случае соответствия материала
      тематике сайта он будет размещен.</p>
    <p>Над проектом идёт постоянная работа, так что с определённой периодичностью
      мы добавляем что-то новое и улучшаем его. Если у вас есть какие-то идеи, можете
      смело ими делиться с нами.</p>
  </section>

  <section>
    <h1>Как помочь?</h1>
    <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/donate.xml?account=41001190110894&quickpay=donate&payment-type-choice=on&default-sum=50&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%BA%D0%B0+%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B0&project-name=%D0%A1%D0%BE%D0%B2%D0%B8%D1%8F&project-site=http%3A%2F%2Fsovia.ru&button-text=05&successURL=http%3A%2F%2Fsovia.ru%2F" width="507" height="105"></iframe>
    <p>Если же вы хотите как-то поддержать проект, лучшей поддержкой на данном этапе
      будет рассказать о нём своим знакомым или разместить у себя в блоге или на сайте
      ссылку на нас.</p>
    <p>Сейчас развитием занимается только один человек, вкладываясь и материально (хостинг стоит денег),
      и интеллектуально (нужно всё развивать, а это достаточно много программирования).</p>
    <p>С материальной стороны можно использовать Яндекс-кошелёк 41001190110894, всё пойдёт
      на развитие и продвижение ресурса.</p>
    <p>Всем снятся сны, и их можно описывать здесь.
      Можно оставлять ссылки на этот сайт и рассказывать о нём друзьям. Чем больше
      будет пользователей, тем быстрее пойдёт развитие.</p>
  </section>

  <footer>
    <p>
      Версия проекта — 4.0.0 preview
      <% if File.exist?('/var/www/sovia.ru/last_version') %>
          build <%= File.read('/var/www/sovia.ru/last_version').to_i %>
      <% end %>
    </p>
  </footer>
</article>

