<% content_for :title, t('.title') %>
<% content_for :description, 'Что такое Совия, сайт про сны. Бесплатный онлайн-дневник снов, сонник, форум, статьи, интерпретация и анализ сновидений.' %>

<header>
  <h1>О проекте</h1>
</header>

<nav>
  <ul>
    <li><%= link_to 'Возможности', features_path %></li>
    <li><%= link_to 'История изменений', changelog_path %></li>
  </ul>
</nav>
<article>
  <h3>Общие слова</h3>
  <p>Проект <a href="http://sovia.ru/" title="Совия, проект о снах">Совия</a>
    призван объединить всё, что относится к снам и миру сновидений. Люди, которых
    увлекает тема снов, или серьезно занимающиеся изучением этой темы — все смогут
    найти здесь что-то полезное для себя.</p>
  <p>Единое информационное пространство позволяет хранить большую
    <%= link_to 'базу снов', entry_dreams_path, title: 'Читать сны' %>, записанных разными людьми.
    Объединив общие знания, можно проанализировать и расшифровать практически любой
    сон, даже если кажется, что он ничего не значит. Интерпретировать сон можно либо
    самостоятельно, пользуясь в том числе
    <%= link_to 'сонником', dreambook_path, title: 'Сонник' %>,
    так и в процессе общения с другими людьми, которые могут комментировать сны.</p>
  <p>Для анализа общих и личных тенденций можно пользоваться статистикой
    по <%= link_to 'символам снов', statistics_symbols_path, title: 'Символы снов' %>.</p>
  <p>На сайте будут накапливаться знания по тематике сновидений, которые смогут
    использовать все желающие.</p>
  <p>Если у Вас имеется статья или материал, который Вы хотели бы разместить
    на сайте проекта, можете прислать его нам, и в случае соответствия материала
    тематике сайта он будет размещен.</p>
  <p>Над проектом идёт постоянная работа, так что с определённой периодичностью
    мы добавляем что-то новое и улучшаем его. Если у вас есть какие-то идеи, можете
    смело ими делиться с нами.</p>
  <h3>Как помочь?</h3>
  <p>Если же вы хотите как-то поддержать проект, лучшей поддержкой на данном этапе
    будет рассказать о нём своим знакомым или разместить у себя в блоге или на сайте
    ссылку на нас.</p>
  <p>Сейчас развитием занимается только один человек, вкладываясь и материально (хостинг стоит денег),
    и интеллектуально (нужно всё развивать, а это достаточно много программирования).</p>
  <p>С материальной стороны можно использовать Яндекс-кошелёк 41001190110894, всё пойдёт
    на развитие и продвижение ресурса.</p>
  <p>Но лучше всего — поддержка проекта контентом. Всем снятся сны, и их можно описывать здесь.
    Можно оставлять ссылки на этот сайт и рассказывать о нём друзьям. Чем больше
    будет пользователей, тем быстрее пойдёт развитие.</p>
  <p>Если вы чувствуете силы и желание помочь именно разработкой, это тоже решается
    очень просто, ведь исходный код есть в <a href="https://github.com/ozgg/Sovia" rel="external nofollow">репозитории на GitHub</a>.
    Пока там нет никаких описаний, но они обычно появляются вместе с дополнительными
    разработчиками.</p>
  <p>Проект написан на Ruby on Rails.</p>
  <footer>
    <p>
      Версия проекта — 3.0.2
    <% if File.exist?('/var/www/sovia.ru/last_version') %>
      build <%= File.read('/var/www/sovia.ru/last_version').to_i %>
    <% end %>
    </p>
  </footer>

  <aside><img src="http://yandex.ru/cycounter?sovia.ru" alt="Индекс цитируемости" width="88" height="33" /></aside>
</article>

<section>
  <%= render 'layouts/statistics' %>
  <%= render 'layouts/more' %>
</section>
