<% content_for :meta_title, t('.title', name: @entity.name, page: current_page) %>

<article class="entity-page">
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= back_icon admin_pattern_path(@entity) %></li>
  </ul>

  <section>
    <h2><%= t(:dream, count: @entity.dreams_count) %></h2>

    <%= paginate @collection %>
    <%= render partial: 'admin/dreams/list', locals: { collection: @collection } %>
    <%= paginate @collection %>
  </section>
</article>
