<% content_for :meta_title, t('.title', name: @entity.name) %>

<%= render partial: 'admin/patterns/adjacent', locals: { patterns: @adjacent } %>

<article class="entity-page">
  <h1><%= @entity.name %></h1>
  <ul class="actions">
    <li><%= create_icon new_pattern_path %></li>
    <li><%= list_icon admin_patterns_path %></li>
    <% unless @entity.locked? %>
        <li><%= edit_icon edit_pattern_path(@entity) %></li>
        <li class="danger"><%= destroy_icon @entity %></li>
    <% end %>
  </ul>

  <table data-url="<%= api_pattern_path(@entity.id) %>">
    <tbody>
    <% unless @entity.image.blank? %>
        <tr>
          <td colspan="2">
            <figure><%= image_tag @entity.image.big.url, alt: @entity.name %></figure>
          </td>
        </tr>
    <% end %>
    <tr>
      <th><%= t(:created_at) %></th>
      <td><%= time_tag @entity.created_at %></td>
    </tr>
    <tr>
      <th><%= t(:updated_at) %></th>
      <td><%= time_tag @entity.updated_at %></td>
    </tr>
    <tr>
      <th>
        <%= label_tag :words_string, t('activerecord.attributes.pattern.words') %>
      </th>
      <td>
        <%= text_field_tag('words_string', @entity.words_string) %>
      </td>
    </tr>
    <tr>
      <th>
        <%= label_tag :pattern_essence, t('activerecord.attributes.pattern.essence') %>
      </th>
      <td>
          <%= text_field_tag('pattern[essence]', @entity.essence) %>
      </td>
    </tr>
    <tr>
      <th>
        <%= label_tag :pattern_description, t('activerecord.attributes.pattern.description') %>
      </th>
      <td>
        <%= text_area_tag 'pattern[description]', @entity.description, cols: 80, rows: 10 %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= render partial: 'admin/patterns/toggleable', locals: { pattern: @entity } %>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="2">
        <nav>
          <ul>
            <li><%= link_to t(:dream, count: @entity.dreams_count), dreams_admin_pattern_path(@entity) %></li>
            <li><%= t(:word, count: @entity.words_count) %></li>
          </ul>
        </nav>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="buttons">
        <%= button_tag t(:save), type: :button, class: 'hidden' %>
      </td>
    </tr>
    </tfoot>
  </table>
</article>

<script>
    $(function () {
        var $table = $('table[data-url]');
        var $button = $table.find('button');

        $table.find('input,textarea').on('change', function() {
            $button.removeClass('hidden');
        });

        $button.on('click', function () {
            var url = $table.data('url');
            var data = {
                words_string: $('#words_string').val(),
                pattern: {
                    essence: $('#pattern_essence').val(),
                    description: $('pattern_description').val()
                }
            };

            $button.prop('disabled', true);
            $.ajax(url, {
                method: 'put',
                data: data,
                success: function (response) {
                    console.log(response);
                    $button.addClass('hidden');
                    $button.prop('disabled', false);
                }
            }).fail(handle_ajax_failure);
        });
    });
</script>