<%= render partial: 'shared/errors_list', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <div>
      <div><%= f.label :name %></div>
      Я желаю <%= f.text_field :name, size: 50, required: true %>
    </div>
    <div>
      <div><%= f.label :description %></div>
      <%= f.text_area :description, cols: 50, rows: 5 %>
    </div>
    <% unless entity.id.blank? %>
        <div>
          <%= f.label :status %>
          <%= f.select :status, goal_statuses_for_select %>
        </div>
    <% end %>

    <div>
      <%= f.button t(:submit), type: :submit %>
    </div>
<% end %>
