<%= form_for @goal do |f| %>
    <%= render partial: 'common/errors_list', locals: { entity: @goal } %>

    <div>
      <%= f.label :name %><br />
      <%= f.text_field :name, required: true, size: 60 %>
    </div>

    <% unless @goal.id.blank? %>
        <div>
          <%= f.label :status %>
          <%= f.select :status, Goal.statuses.keys.to_a.map { |e| [t("activerecord.attributes.goal.statuses.#{e}"), e] } %>
        </div>
    <% end %>

    <div>
      <%= f.label :description %><br />
      <%= f.text_area :description, cols: 60, rows: 5 %>
    </div>

    <div>
      <%= f.button t('submit'), type: :submit %>
    </div>
<% end %>