<% content_for :meta_title, t('.title') %>
<% content_for :sidebar do %>
    <div class="options">
      <ul>
        <li><%= link_to t(:view), @entity %></li>
        <li><%= link_to t(:list), my_goals_path %></li>
        <li><%= link_to t(:create), new_goal_path %></li>
        <li><%= link_to_delete @entity %></li>
      </ul>
    </div>
    <%= render 'sidebar/more_links' %>
<% end %>

<article class="edit-goal">
  <h1><%= t('.title') %></h1>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
