<% content_for :meta_title, @entity.name %>
<% content_for :sidebar do %>
    <div class="options">
      <ul>
        <li><%= link_to t(:list), my_goals_path %></li>
        <li><%= link_to t(:edit), edit_goal_path(@entity) %></li>
        <li><%= link_to t(:create), new_goal_path %></li>
        <li><%= link_to_delete @entity %></li>
      </ul>
    </div>

    <%= render 'sidebar/more_links' %>
<% end %>

<%= render @entity %>
