<% content_for :title, t('.title', goal: @goal.name) %>
<% content_for :description, t('.description', goal: @goal.name) %>

<article>
  <header>
    <h1><%= @goal.name %></h1>

    <h2>
      <%= t('activerecord.attributes.goal.statuses.issued') %> <%= @goal.created_at.strftime('%d.%m.%Y') %>
      <% unless @goal.issued? %>
          <%= t('support.array.two_words_connector') %><%= t("activerecord.attributes.goal.statuses.#{@goal.status}") %> <%= @goal.updated_at.strftime('%d.%m.%Y') %>
      <% end %>
    </h2>
    <nav>
      <ul>
        <li><%= link_to t(:list), my_goals_path %></li>
        <li><%= link_to t(:edit), edit_goal_path(@goal) %></li>
        <li><%= link_to t(:delete), goal_path(@goal), method: :delete, data: { confirm: t(:are_you_sure) } %></li>
      </ul>
    </nav>
  </header>

  <div><%= raw parse_body(@goal.description, false, true) %></div>

  <% if @goal.deeds.any? %>
      <p><%= t('.steps_to_achieve') %></p>
      <ol>
        <% @goal.deeds.each do |deed| %>
            <li><%= deed.created_at.strftime('%d.%m.%Y') %> <%= t(:i) %> <%= deed.name %></li>
        <% end %>
        <% if @goal.issued? %>
            <li>
              <%= form_for(Deed.new(goal: @goal)) do |form| %>
                  <div>
                    <%= form.hidden_field :goal_id %>
                    <%= form.label :name, t('deeds.form.today_i') %>
                    <%= form.text_field :name, size: 50, required: true %><%= t('deeds.form.to_accomplish') %> <%= @goal.name %>
                    <%= form.button t('submit'), type: :submit %>
                  </div>
              <% end %>
            </li>
        <% end %>
      </ol>

  <% else %>
      <p><%= t('.nothing_done_to_achieve') %></p>
  <% end %>
</article>

<%= render 'common/metrics' %>
