<article class="grain">
  <h1><%= grain.name %></h1>

  <div class="body">
    <% unless grain.image.blank? %>
        <figure><%= link_to image_tag(grain.image.medium.url, alt: grain.name), grain.image.url %></figure>
    <% end %>
    <% if grain.pattern_id %>
        <p>Отображается как <%= link_to_dreambook(grain.pattern) %></p>
    <% else %>
        <p>В общем списке образов сна не отображается.</p>
    <% end %>
    <% unless grain.category.nil? %>
        <p>Категория: <%= t("activerecord.attributes.grain.categories.#{grain.category}") %></p>
    <% end %>

    <%= raw prepare_pattern_text(grain) %>
  </div>
  <div>
    <p><%= link_to t('dreams.tagged.my_dreams'), tagged_my_dreams_path(tag_name: grain.name_for_url) %></p>
  </div>
</article>
