<% content_for :title, t('.title', page: params[:page] || 1) %>
<% content_for :description, t('.description', page: params[:page] || 1) %>

<h1><%= t('.header') %></h1>
<h2><%= t('page', page: params[:page] || 1) %></h2>

<% if @tags.any? %>
    <ol start="<%= ((params[:page] || 1).to_i - 1) * 20 + 1 %>">
      <% @tags.each do |tag| %>
          <li><%= link_to tag.name, edit_admin_dream_tag_path(tag) %> (<%= tag.entries_count %>)</li>
      <% end %>
    </ol>

    <%= paginate @tags %>
<% else %>
    <div class="message"><%= t('nothing_found') %></div>
<% end %>