<%= form_tag admin_users_path, method: :get, class: :filter do %>
    <fieldset>
      <legend><%= t(:filter) %></legend>

      <div>
        <div><%= t('activerecord.attributes.user.network') %></div>
        <ul>
          <li>
            <%= radio_button_tag 'filter[network]', '', filter[:network].blank? %>
            <%= label_tag 'filter_network_', t(:not_set) %>
          </li>
          <% User.networks.each do |name, number| %>
              <li>
                <%= radio_button_tag 'filter[network]', number, filter[:network].to_s == number.to_s %>
                <%= label_tag "filter_network_#{number}", name %>
              </li>
          <% end %>
        </ul>
      </div>

      <div>
        <div><%= label_tag 'filter_screen_name', t('activerecord.attributes.user.screen_name') %></div>
        <div><%= search_field_tag 'filter[screen_name]', filter[:screen_name], size: 30, results: 5, autosave: 'screen_name' %></div>
      </div>

      <div>
        <div><%= label_tag 'filter_name', t('activerecord.attributes.user.name') %></div>
        <div><%= search_field_tag 'filter[name]', filter[:name], size: 30, results: 5, autosave: 'name' %></div>
      </div>

      <div>
        <div><%= label_tag 'filter_email', t('activerecord.attributes.user.email') %></div>
        <div><%= search_field_tag 'filter[email]', filter[:email], size: 30, results: 5, autosave: 'email' %></div>
      </div>

      <div class="button"><%= button_tag t(:submit), type: :submit, name: '' %></div>
    </fieldset>
<% end %>
