<% content_for :title, t('.title', user: @user.login) %>
<% content_for :description, t('.description', user: @user.login) %>

<header>
  <h1><%= t('.header') %></h1>
  <nav>
    <ul>
      <li><%= link_to t(:view), admin_user_path(@user) %></li>
      <li><%= link_to t(:list), admin_users_path %></li>
    </ul>
  </nav>
</header>

<%= @roles %>
<article class="profile">
  <%= render 'form' %>
</article>