<% content_for :meta_title, t('.title', page: current_page) %>

<article>
  <header>
    <h1><%= t('.header') %></h1>
    <h2><%= render 'shared/page' %></h2>
    <nav class="options">
      <ul>
        <li><%= link_to t(:create), new_admin_user_path %></li>
      </ul>
    </nav>
  </header>

  <% if @users.any? %>
      <%= paginate @users %>

      <ul>
        <% @users.each do |user| %>
            <li>
              <%= link_to user.login, admin_user_path(user) %> (<%= user.entries_count %> / <%= user.comments_count %>)
              <%= t('activerecord.attributes.user.bot') if user.bot? %>
            </li>
        <% end %>
      </ul>

      <%= paginate @users %>
  <% else %>
      <%= render 'shared/nothing_found' %>
  <% end %>
</article>
