<%= form_for(@entry) do |f| %>
    <%= render partial: 'common/errors_list', locals: { entity: @entry } %>

    <div>
      <%= f.label :title %><br />
      <%= f.text_field :title, required: true, size: 80 %>
    </div>
    <div>
      <%= f.label :body %><br />
      <%= f.text_area :body, required: true, cols: 80, rows: 25 %>
    </div>
    <div>
      <%= f.label :tags_string %><br />
      <%= f.text_area :tags_string, cols: 75, rows: 5 %>
    </div>
    <div>
      <%= f.label :privacy %>
      <%= f.select :privacy, Entry::Thought.privacy_modes.invert %>
    </div>
    <div>
      <%= f.button t('submit'), type: 'submit' %>
    </div>
<% end %>
