<header>
  <h1><%= @title %></h1>
</header>

<nav>
  <ul>
    <li><%= link_to t('.dreams'), my_dreams_path %></li>
    <li><%= link_to t('.profile'), my_profile_path %></li>
  </ul>
</nav>

<% unless @current_user.mail_confirmed? %>
    <%= form_tag confirm_users_path, method: :post do %>
    <%= button_tag t('.confirm_email'), type: :submit %>
    <% end %>
<% end %>
