<article class="place">
  <figure>
    <figcaption class="<%= place.head_direction %>"><%= place.name %></figcaption>
    <% if place.image.url %>
        <%= image_tag place.image.post.url, alt: place.name %>
    <% end %>
  </figure>
  <div class="description"><%= simple_format place.description %></div>
  <% if place.head_direction %>
      <div>
        <%= t('activerecord.attributes.place.head_direction') %>: <%= t("activerecord.head_directions.#{place.head_direction}") %>
      </div>
  <% end %>
</article>