<article class="place">
  <h1><%= place.name %></h1>
  <div class="body">
    <% unless place.image.blank? %>
        <div class="image"><%= image_tag pattern.image.medium.url, alt: place.name %></div>
    <% end %>
    <%= simple_format place.description %>
  </div>
  <p><%= t('activerecord.attributes.place.latitude') %>: <%= place.latitude %></p>
  <p><%= t('activerecord.attributes.place.longitude') %>: <%= place.longitude %></p>
  <p><%= t('activerecord.attributes.place.azimuth') %>: <%= place.azimuth %>&deg;</p>
  <p><%= t(:dream, count: place.dreams_count) %></p>
</article>
