<article class="place">
  <h1><%= place.name %></h1>
  <div class="body">
    <% unless place.image.blank? %>
        <div class="image"><%= image_tag pattern.image.medium.url, alt: place.name %></div>
    <% end %>
    <%= simple_format place.description %>
  </div>
  <p><%= "#{place.latitude}, #{place.longitude}, #{place.azimuth}" %></p>
  <p><%= t(:dream, count: place.dreams_count) %></p>
</article>
