<div class="auth">
  <% if current_user.nil? %>
      <%= form_tag login_path do %>
          <fieldset>
            <legend><%= t('.sign_in') %></legend>
            <div>
              <%= label_tag :login, t('activerecord.attributes.user.login') %>
              <%= text_field_tag :login, '', required: true %>
            </div>
            <div>
              <%= label_tag :password, t('activerecord.attributes.user.password') %>
              <%= password_field_tag :password, '', required: true %>
            </div>
            <div class="auth-buttons">
              <div><%= button_tag t('.sign_in'), type: 'submit' %></div>
              <div><%= link_to image_tag('vk.png'), login_vk_path, title: t('.vk') %></div>
              <div><%= link_to image_tag('twitter.png'), auth_external_path(provider: :twitter), title: t('.twitter') %></div>
              <div><%= link_to image_tag('fb.png'), auth_external_path(provider: :facebook), title: t('.facebook') %></div>
              <div><%= link_to image_tag('mailru.png'), auth_external_path(provider: :mail_ru), title: t('.mail_ru') %></div>
            </div>
          </fieldset>
      <% end %>
      <nav aria-label="<%= t('.authentication_options') %>" class="auth-options">
        <ul>
          <li><%= link_to t('.sign_up'), new_user_path %></li>
          <li><%= link_to t('.recover_password'), my_recovery_path %></li>
        </ul>
      </nav>
  <% else %>
      <div class="user-info">
        <%= comment_avatar(current_user) %>
        <%= user_link current_user %>
        <nav aria-label="<%= t('.user_menu') %>" class="user-options">
          <ul>
            <li><%= link_to t('.dashboard'), my_path, accesskey: '0' %></li>
            <li><%= link_to t('.deeds'), my_deeds_path %></li>
            <li><%= link_to t('.logout'), logout_path, method: :delete %></li>
          </ul>
        </nav>
      </div>
  <% end %>
</div>
