<div class="auth">
  <% if current_user.nil? %>
      <%= form_tag login_path do %>
          <div>
            <h3><%= t('.authorize') %></h3>
            <%= label_tag :login, t('activerecord.attributes.user.login') %>
            <%= text_field_tag :login, '', required: true %>
            <br/>
            <%= label_tag :password, t('activerecord.attributes.user.password') %>
            <%= password_field_tag :password, '', required: true %>
            <br/>
            <%= button_tag t('sessions.new.enter'), type: 'submit' %>
            <%= link_to t('users.new.register'), new_user_path %>
          </div>
      <% end %>
  <% else %>
      <figure>
        <%= comment_avatar(current_user) %>
        <figcaption><%= current_user.login %></figcaption>
      </figure>
      <nav aria-label="<%= t('.aria_label_nav') %>">
        <ul>
          <li><%= link_to t('.private'), my_path, accesskey: '0' %></li>
          <li><%= link_to t('.deeds'), my_deeds_path %></li>
          <li><%= link_to t('.thoughts'), my_thoughts_path %></li>
          <li><%= link_to t('.logout'), logout_path, method: :delete %></li>
        </ul>
      </nav>
  <% end %>
</div>
