<div class="auth">
  <% if current_user.nil? %>
      <%= form_tag login_path do %>
          <fieldset>
            <legend><%= t('.sign_in') %></legend>
            <div>
              <%= label_tag :login, t('activerecord.attributes.user.login') %>
              <%= text_field_tag :login, '', required: true %>
            </div>
            <div>
              <%= label_tag :password, t('activerecord.attributes.user.password') %>
              <%= password_field_tag :password, '', required: true %>
            </div>
            <div>
              <%= button_tag t('.sign_in'), type: 'submit' %>
            </div>
          </fieldset>
      <% end %>
      <nav aria-label="<%= t('.authentication_options') %>">
        <ul>
          <li><%= link_to t('.sign_up'), new_user_path %></li>
          <li><%= link_to t('.recover_password'), my_recovery_path %></li>
        </ul>
      </nav>
  <% else %>
        <%= comment_avatar(current_user) %>
        <%= current_user.login %>
      <nav aria-label="<%= t('.aria_label_nav') %>">
        <ul>
          <li><%= link_to t('.private'), my_path, accesskey: '0' %></li>
          <li><%= link_to t('.deeds'), my_deeds_path %></li>
          <li><%= link_to t('.thoughts'), my_thoughts_path %></li>
          <li><%= link_to t('.logout'), logout_path, method: :delete %></li>
        </ul>
      </nav>
  <% end %>
</div>
