<nav aria-label="<%= t('.aria_label') %>">
  <ul>
    <li><%= link_to t('layouts.application.articles'), entry_articles_path, accesskey: '1' %></li><!--
    --><li><%= link_to t('layouts.application.dreams'), entry_dreams_path, accesskey: '2' %></li><!--
    --><li><%= link_to t('layouts.application.new_dream'), new_entry_dream_path, accesskey: '3' %></li><!--
    --><li><%= link_to t('titles.posts.index'), entry_posts_path, accesskey: '4' %></li><!--
    --><li><%= link_to t('layouts.application.dreambook'), dreambook_path, accesskey: '5' %></li><!--
    --><li><%= link_to t('layouts.application.about'), about_path, accesskey: '6' %></li>
  </ul>
</nav>
