<nav aria-label="<%= t('.aria_label') %>">
  <ul>
    <li><%= link_to t('.posts'), posts_path, accesskey: '1' %></li>
    <li><%= link_to t('.dreams'), entry_dreams_path, accesskey: '2' %></li>
    <li><%= link_to t('.new_dream'), new_entry_dream_path, accesskey: '3' %></li>
    <li><%= link_to t('.dreambook'), dreambook_path, accesskey: '4' %></li>
    <li><%= link_to t('.questions'), questions_path, accesskey: '5' %></li>
    <li><%= link_to t('.about'), about_path, accesskey: '6' %></li>
  </ul>
</nav>
