<nav>
  <ul>
    <li><%= link_to t('layouts.application.articles'), entry_articles_path %></li>
    <li><%= link_to t('layouts.application.dreams'), entry_dreams_path %></li>
    <li><%= link_to t('layouts.application.new_dream'), new_entry_dream_path %></li>
    <li><%= link_to t('titles.posts.index'), entry_posts_path %></li>
    <li><%= link_to t('layouts.application.dreambook'), dreambook_path %></li>
    <li><%= link_to t('layouts.application.about'), about_path %></li>
  </ul>
</nav>
