<div>
  <h2><%= t('.more') %></h2>
  <nav>
    <ul>
      <li><%= link_to t('.archive'), archive_entry_dreams_path %></li>
      <li><%= link_to t('.random'), random_entry_dreams_path %></li>
      <li><%= link_to t('.statistics'), statistics_path %></li>
      <li><%= link_to t('.thoughts'), entry_thoughts_path %></li>
      <li><%= link_to t('.grains'), entry_grains_path %></li>
      <li><%= link_to t('.comments'), comments_path %></li>
    </ul>
  </nav>
</div>
