<!DOCTYPE html>
<html lang="<%= locale %>" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" />
  <title><%= yield :meta_title %> :: <%= t('.title') %></title>
  <%= render 'layouts/meta_texts' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/favicons' %>
  <%= render 'layouts/head_links' %>
</head>
<body>
<%= render 'layouts/header' %>

<section role="main">
  <% if flash[:notice] %>
      <div id="notice" aria-label="<%= t('.notice') %>"><%= flash[:notice] %></div>
  <% end %>
  <%= yield %>
</section>

<footer>
  <div role="contentinfo">&copy; 2006&ndash;2015 sovia.ru</div>
  <div role="contentinfo"><%= link_to t('.terms_of_service'), tos_path %></div>
  <%= yield :metrics %>
</footer>
</body>
</html>
