<!DOCTYPE html>
<html>
<head>
  <title><%= @title || t('titles.none') %> :: <%= t('titles.sovia') %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div id="logo"><%= link_to(image_tag('owl.png', alt: 'Sovia'), root_path) %></div>
  <nav>
    <ul>
      <li><%= link_to t('.articles'), articles_path %></li>
      <li><%= link_to t('.dreams'), dreams_path %></li>
      <li><%= link_to t('.new_dream'), new_dream_path %></li>
      <li><%= link_to t('titles.posts.index'), posts_path %></li>
    </ul>
  </nav>

  <aside>
    <%= render 'layouts/auth_block' %>
  </aside>
</header>

<section id="main">
  <% if flash[:message] %>
  <div class="message"><%= flash[:message] %></div>
  <% end %>
  <%= yield %>
</section>

<footer>
  <div class="copyright">&#0169; 2006&#0150;2014 sovia.ru</div>
</footer>
</body>
</html>
