<!DOCTYPE html>
<html lang="<%= locale %>" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8" />
  <title><%= yield :meta_title %> :: <%= t('.title') %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/favicons' %>
  <%= render 'layouts/meta_texts' %>
</head>
<body>
<%= render 'layouts/header' %>

<div id="content">
  <div id="main" role="main">
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
  </div>
  <div id="sidebar" role="complementary">
    Sidebar
  </div>
</div>

<%= render 'layouts/footer' %>
</body>
</html>
