<!DOCTYPE html>
<html lang="<%= locale %>" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8"/>
  <title><%= t('.title') %>: <%= yield :meta_title %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="format-detection" content="telephone=no"/>
  <%= yield :alternate_links %>
  <%= render 'shared/meta_texts' %>
  <%= render 'shared/favicons' %>
  <%= raw SimpleBlock['head_counters_js'] %>
</head>
<body>
<%= raw SimpleBlock['head_counters_no_js'] %>
<%= render 'layouts/application/header' %>

<main id="main">
  <%= render 'shared/flash_messages' %>
  <%= render 'shared/breadcrumbs' %>

  <% if content_for?(:sidebar) %>
    <div class="content-with-sidebar">
      <div class="content">
        <%= yield %>
      </div>
      <aside class="main-sidebar">
        <%= yield :sidebar %>
      </aside>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
</main>

<%= render 'layouts/application/footer' %>
<%= raw SimpleBlock['counters'] %>
<%= raw SimpleBlock['addthis'] unless content_for?(:hide_addthis) %>
</body>
</html>
