<!DOCTYPE html>
<html>
<head>
  <title><%= @title || t('titles.none') %> :: <%= t('titles.sovia') %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <figure><%= link_to(image_tag('owl.png', alt: 'Sovia'), root_path) %></figure>
  <%= render 'layouts/main_navigation' %>
  <%= render 'layouts/auth_block' %>
</header>

<section>
  <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
  <% end %>
  <%= yield %>

  <section>
    <%= render 'layouts/statistics' %>
    <%= render 'layouts/random_dream' %>
    <%= render 'layouts/more' %>
  </section>
</section>

<footer>
  <div>&copy; 2006&ndash;2014 sovia.ru</div>
  <div><%= link_to t('.terms_of_service'), tos_path %></div>
  <%= render 'index/metrics' if Rails.env.production? %>
</footer>
</body>
</html>
