<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <meta charset="utf-8" />
  <title><%= @title || params[:code].to_s %> :: <%= t('titles.sovia') %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="<%= yield :description %>" />
</head>
<body>
<header>
  <figure role="banner"><%= link_to(image_tag('owl.png', alt: 'Sovia'), root_path) %></figure>
  <%= render 'layouts/main_navigation' %>
</header>

<section role="main">
  <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
  <% end %>
  <%= yield %>

  <section>
    <%= render 'layouts/more' %>
  </section>
</section>

<footer>
  <div role="contentinfo">&copy; 2006&ndash;2014 sovia.ru</div>
  <div role="contentinfo"><%= link_to t('layouts.application.terms_of_service'), tos_path %></div>
</footer>
</body>
</html>
