<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <meta charset="utf-8" />
  <title><%= @title || params[:code].to_s %> :: <%= t('titles.sovia') %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <figure><%= link_to(image_tag('owl.png', alt: 'Sovia'), root_path) %></figure>
  <%= render 'layouts/main_navigation' %>
</header>

<section>
  <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
  <% end %>
  <%= yield %>

  <section>
    <%= render 'layouts/more' %>
  </section>
</section>

<footer>
  <div class="copyright">&copy; 2006&ndash;2014 sovia.ru</div>
  <div class="tos"><%= link_to t('layouts.application.terms_of_service'), tos_path %></div>
</footer>
</body>
</html>
