<% content_for :title, t('.title', page: params[:page] || 1) %>
<% content_for :description, t('.description', page: params[:page] || 1) %>

<header>
  <h1><%= t('.header') %></h1>
  <h2><%= t('page', page: params[:page] || 1) %></h2>
  <nav>
    <ul>
      <li><%= link_to t('.about'), entry_grains_path %></li>
      <li><%= link_to t('.add'), new_entry_grain_path %></li>
    </ul>
  </nav>
</header>

<%= render 'entries/list' %>