<% content_for :meta_title, t('.title', name: @entity.name) %>

<article class="entity-page">
  <h1><%= @entity.name %></h1>
  <ul class="actions">
    <li><%= create_icon new_grain_path %></li>
    <li><%= list_icon my_grains_path %></li>
    <li><%= edit_icon edit_grain_path(@entity) %></li>
    <li class="danger"><%= destroy_icon @entity %></li>
  </ul>

  <table>
    <tbody>
    <% unless @entity.image.blank? %>
        <tr>
          <td colspan="2">
            <figure><%= image_tag @entity.image.medium.url, alt: @entity.name %></figure>
          </td>
        </tr>
    <% end %>
    <% unless @entity.grain_category.nil? %>
        <tr>
          <th><%= t('activerecord.models.grain_category') %></th>
          <td><%= @entity.grain_category.name %></td>
        </tr>
    <% end %>
    <tr>
      <th><%= t('activerecord.attributes.grain.description') %></th>
      <td><%= simple_format @entity.description %></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="2">
        <nav><%= link_to t(:dream, count: @entity.dreams_count), dreams_my_grain_path(@entity) %></nav>
      </td>
    </tr>
    </tfoot>
  </table>
</article>
