<table>
  <caption><%= "#{account.network}: #{account.name} (#{account.screen_name})" %></caption>
  <tbody>
  <tr>
    <th>user</th><td><%= account.user ? account.user.login : 'null' %></td>
  </tr>
  <tr>
    <th>language</th><td><%= account.language.i18n_name %></td>
  </tr>
  <tr>
    <th>local_id</th><td><%= account.local_id %></td>
  </tr>
  <tr>
    <th>email</th><td><%= account.email %></td>
  </tr>
  <tr>
    <th>avatar</th><td><%= account.avatar %></td>
  </tr>
  <tr>
    <th>avatar_url_small</th><td><%= account.avatar_url_small %></td>
  </tr>
  <tr>
    <th>avatar_url_medium</th><td><%= account.avatar_url_medium %></td>
  </tr>
  <tr>
    <th>avatar_url_big</th><td><%= account.avatar_url_big %></td>
  </tr>
  <tr>
    <th>gender</th><td><%= account.gender %></td>
  </tr>
  <tr>
    <th>verified</th><td><%= account.verified? %></td>
  </tr>
  <tr>
    <th>allow_mail</th><td><%= account.allow_mail? %></td>
  </tr>
  <tr>
    <th>allow_login</th><td><%= account.allow_login %></td>
  </tr>
  <tr>
    <th>token_expiry</th><td><%= account.token_expiry %></td>
  </tr>
  <tr>
    <th>access_token</th><td><%= account.access_token %></td>
  </tr>
  <tr>
    <th>refresh_token</th><td><%= account.refresh_token %></td>
  </tr>
  <tr>
    <th>data</th><td><%= account.data %></td>
  </tr>
  </tbody>
</table>
