<% content_for :meta_title, t('.title', page: current_page) %>

<nav class="options">
  <ul>
    <li><%= link_to t(:create), new_account_path %></li>
  </ul>
</nav>

<section>
  <h1><%= t('.header') %></h1>
  <h2><%= t(:page, page: current_page) %></h2>

  <% if @accounts.any? %>
    <ul>
      <% @accounts.each do |account| %>
      <li><%= link_to "#{account.network}: #{account.name} (#{account.screen_name})", account %></li>
      <% end %>
    </ul>
      <%= paginate @accounts %>
  <% else %>
      <% render 'shared/nothing_found' %>
  <% end %>
</section>